[2020-07-29 16:59] aarongranick-okta commented on #804
@abodnar63 @igcherkaev @restfulhead @polklabs @metalsho @myspivey @sleepwalky and anyone else experiencing this issue:

Can you confirm if you are "self hosting" the signin widget? Are you including `@okta/okta-signin-widget` in your package.json and rendering it on a page within your application? Or are you redirecting to Okta for login?

[2020-07-29 17:00] sleepwalky commented on #804
@aarongranick-okta I'm not using signin-widget

[2020-07-29 17:01] polklabs commented on #804
@aarongranick-okta We are self hosting the widget. We render it in our application

[2020-07-29 17:03] myspivey commented on #804
@aarongranick-okta self hosted

[2020-07-29 17:05] calvinmuller-wi commented on #804
self-hosted custom login page.

[2020-07-29 17:08] abodnar63 commented on #804
@aarongranick-okta, We use Okta authentication flow and do not have signin-widget

[2020-07-29 17:31] aarongranick-okta commented on #804
Thank you for your responses. I've created a new internal issue to track this (OKTA-318184) with high priority. We will work on reproducing and fixing this issue and will provide updated information here.

[2020-07-30 00:23] igcherkaev commented on #804
@aarongranick-okta self-hosted custom login page.

[2020-07-30 07:38] pvdstel commented on #777
For what it's worth, we've worked around this problem by creating a functionally similar component with a fix. This exact problem can be fixed by modifying [these lines](https://github.com/okta/okta-oidc-js/blob/aed57b332a59d39102efc5e6116bd6840fa9bbbf/packages/okta-react/src/SecureRoute.js#L39-L40) to the following.

[code]

What changed here is that `useMemo` is now used to cache the wrapped com

[2020-07-30 11:59] amcdnl commented on #804
@aarongranick-okta - self hosted. Whats the update - my app is almost completely broken as it stands right now.

[2020-07-30 12:53] shuowu commented on #804
@amcdnl yes, it's relevant. we suspect the default auto login behavior in onSessionExpired caused the concurrency issue for PKCE. So the fix should be just clearAuth state in react without auto login to log users out.

Also, I remember I took a look of your gist last week, you probably can try to remove related window.location.replace('login') in code to avoid this error.

[2020-07-30 16:45] aarongranick-okta commented on #804
@abodnar63 @igcherkaev @restfulhead @polklabs @metalsho @myspivey @sleepwalky @amcdnl Thanks for your responses. We are currently working to fully understand and fix this issue. We think it may be related to the default behavior for `onSessionExpired` which may be causing a concurrency error. As a workaround, we suggest adding a custom implementation of `onSessionExpired` to your config which can

[2020-07-30 17:05] snair-ext commented on #386
Has this issue been resolved ? I am also facing this exact issue.

[2020-07-30 17:47] amcdnl commented on #804
@aarongranick-okta - This is what I have but its not working:

[code]

[2020-07-30 18:03] aarongranick-okta commented on #804
@amcdnl @polklabs The problem we have identified is that `onSessionExpired` may be called as part of the normal auth flow triggered from a SecureRoute. Calling either `login` or `logout` while in the middle of another auth flow may cause this concurrency error. This is why we are recommending to override with an empty function at this time.

[2020-07-30 18:09] baumandm opened #853 "Support react-router v6"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [ ] Bug report
- [x] Feature request
- [ ] Other (Describe below)

## Current behavior
The upcoming version of React-router, v6, makes a number of [breaking changes](https://github.com/ReactTraining/react-rout

[2020-07-30 18:20] swiftone commented on #853
@baumandm - Thanks for the ticket and the interim implementation. We'll put this on the backlog and work to make sure we have compatibility with react-router 6 ASAP following the official release.  Given the scope of some of the changes, this will likely require a major version change on our part.

[2020-07-30 18:20] swiftone commented on #853
Internal ref: OKTA-318565

[2020-07-30 19:16] michmerr commented on #844
I've been seeing this, too. It's happening when refreshing an application with an expired session. I get the redirect to login, but on the callback, it give me the error you are encountering. Refreshing the app after that _looks_ like it works, but the auth object passed to the React components fails to generate valid jwt tokens for use when communicating with the application's express layer. As a

[2020-07-31 02:59] aarongranick-okta commented on #804
@amcdnl @igcherkaev @calvinmuller-wi @myspivey @polklabs

I was able to reproduce the issue using the self-hosted widget. The cause of the issue is:

- current version of the widget stores PKCE code in localStorage
- current version of authJS looks for code in sessionStorage, but falls back to localStorage if code is not present
- token renew failure does not cleanup but leaves a code in sessionSt

[2020-07-31 14:21] dougse commented on #815
+1 DavidLozzi's question - does authService._oktaAuth.session.get() extend a session?

[2020-07-31 15:28] corchard commented on #804
Seeing the same issue as @abodnar63 also using okta-react without the sign in widget.

`AuthSDKError: Could not load PKCE code verifier from storage`

[2020-07-31 15:32] aarongranick-okta commented on #839
Duplicate of https://github.com/okta/okta-oidc-js/issues/804

[2020-07-31 15:32] #839 closed

[2020-07-31 15:46] aarongranick-okta commented on #804
@corchard @abodnar63 @sleepwalky (and anyone else not using signin widget)

I believe you are seeing a different issue than the one we have diagnosed here with a custom hosted signin widget.

The error `AuthSDKError: Could not load PKCE code verifier from storage` is possibly related to a concurrency error. It could mean that an auth flow has completed and cleared storage before the callback has o

[2020-07-31 16:25] amcdnl commented on #804
On a side note: I'm getting a `Cannot read property 'message' of undefined` everytime I do login correctly.

![image](https://user-images.githubusercontent.com/227909/89055673-cfff7780-d328-11ea-9a85-5ebfeba12c18.png)

[2020-07-31 17:03] abodnar63 commented on #804
@aakashyadav-okta  Overriding of `onSessionExpired` helped to solve my case. Instead of the empty function, we need to redirect the user to the Okta login page otherwise when the session is expired we are getting an error like: `session is expired and the user should be prompted to login`.

[2020-07-31 17:32] d-gottlieb commented on #842
@swiftone - Yesterday we experienced an outage due to this problem and were running 3.0.2. We upgraded to 3.0.3 and the issue seemed to go away. However, 24 hours later (which would make sense if something got missed here), the issue began occurring again for everyone involved almost at exactly the same time. Looking at `okta-token-storage`, only the `access_token` exists and no `id_token`.

Delet

[2020-07-31 18:01] swiftone commented on #842
@d-gottlieb - Not so much "missed", as in a dependency.  We have changes in the works in okta-auth-js, and then these changes need to be consumed by okta-react, so expect updates to both Soon :Tm:

[2020-07-31 18:32] amcdnl commented on #804
If I keep my browser open for extended amounts of time, it still throws this error:

![image](https://user-images.githubusercontent.com/227909/89065958-9c2d4d80-d33a-11ea-9895-10126561b093.png)

[2020-07-31 18:51] shuowu commented on #842
@d-gottlieb I think you have session expiration time set as 24hrs for your application, then when session expired, renew process will trigger `error` event to call `onSessionExpired` callback (default to login, or provided customized callback from the config), which may end up with the state you described in the comment.
We are working on a fix for the session expiration issue in React. https://gi

[2020-07-31 22:10] aarongranick-okta commented on #804
@abodnar63 The console message `error.errorCode: login_required, error.description: The client specified not to prompt, but the user is not logged in.` is expected when token renew fails. Token renew can fail if the session has expired, or if 3rd party cookies are blocked. In either case, token renew failure will remove the invalid accessToken from storage and call `onSessionExpired` handler.

Tok

[2020-08-02 16:39] sarahdayan commented on #777
I experienced the same issue, @AlexeyBarkow's solution fixed it.

Note that `SecureRoute`'s `component` prop must be passed as a reference for it to work.

This **won't work** (`SecureRoute` will unmount):

[code]

But this will:

[code]

If you're nesting `SecureRoute`s (e.g., to protect your entire application), you need to apply the same fix on the parent `SecureRoute`:

[code]

[2020-08-03 13:35] rupeshbhatti commented on #846
I saw the same issue... seems to be a bug that was introduced in one of the recent commits. In our case, downgrading to 3.0.2 seems to have fixed the issue

[2020-08-03 17:17] aarongranick-okta commented on #842
@trentinthomas @cfbao If the session is not expired, a possible source of token renew failure is 3rd party cookies being blocked by the browser. 3rd party cookies are required to renew tokens, since it uses a hidden iframe loading an Okta domain. Default settings of Safari 13+ will block all 3rd party cookies by default, and Chrome can be configured to block 3rd party cookies as well. If possible,

[2020-08-03 21:21] aarongranick-okta commented on #744
For those encountering this issue, I hope this information will be helpful:
`@okta/okta-auth-js` 3.x and earlier use a **passive** form of autoRenew. This means that there will be no attempt to renew a token until it is **accessed** using `tokenManager.get()`. If `options.autoRenew` is true, then `tokenManager.get()` will automatically renew tokens and resolve the promise to a valid token unless t

[2020-08-03 21:39] aarongranick-okta commented on #842
@trentinthomas @cfbao @d-gottlieb If your app expects **both** the accessToken and the idToken, you might want to provide a custom `isAuthenticated` function. This function will be called by `updateAuthState` and determines if the user is authenticated based on token state. By default, this will return true if **either** accessToken or idToken is valid: https://github.com/okta/okta-oidc-js/blob/ma

[2020-08-04 08:03] sarath-sasikumar commented on #750
Hi @DavidLozzi
Were you able to solve this issue?
At the moment, I also face the issue of being redirected to login when the hour mark is hit, forcing users to lose continuity

[2020-08-04 13:01] andrewatduckpin commented on #808
Still unable to use `render` in 3.0.2 and 3.0.3

[2020-08-04 15:30] JJ78 opened #856 "useOktaAuth hook returns undefined"
Regarding the documentation, the useOktaAuth hook is supposed to retour some instances, in my case, it returns undefined, i don't get what i could miss, is it working for someone?

Thanks

## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ]

[2020-08-04 22:18] swiftone commented on #750
@sarath-sasikumar: We have some updates to okta-react in the works, but in the meantime make sure you're trying with okta-react 3.0.3+ and that it installed with okta-auth-js 3.2.2

You can see some of our other upcoming changes here: https://github.com/okta/okta-oidc-js/pull/848

As those changes involve backward-incompatible changes to our API, they will be released in a major version bump, but

[2020-08-04 22:22] swiftone commented on #856
Hi @JJ78, thanks for the report.

`useOktaAuth()` requires that your component be a descendent of the `<Security>` component (see https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#general-components and https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#available-hooks )

Is your `<Auth>` component rendering from some somewhere that is wrapped in `<Security>`?

[2020-08-04 22:25] swiftone commented on #808
Hey folks - this is on my immediate backlog, so while I can't say exactly what day this will be addressed, it should be Real Soon Now :TM:

[2020-08-05 04:23] sarath-sasikumar commented on #750
@swiftone Is it possible for the tokens to be silently refreshed even if the session has expired. Across multiple applications, the policy to expire sessions is less than the one hour set for ID tokens hence the refresh operation is failing. Is there any workaround for this problem, since this is causing huge issues for users, who are forced to log in again and again, causing disruption in their w

[2020-08-05 13:21] DavidLozzi commented on #750
@sarath-sasikumar Kind of? Here's where we're at:

- We are using @okta/okta-react v3.0.2.
- Our access token expirations are set to 24 hours, but session expiration is 2 hours
- We are using `authService.getAccessToken()` to get the access token, through Okta's libraries. This method, to my understanding, handles getting a new access token if/when needed.
- We also added a little script that runs

[2020-08-05 16:46] sarath-sasikumar commented on #750
Thanks for this @DavidLozzi
I think this alligns with my use case as well. Will it be possible for you, to give some insight into the script that you have used for  `https://logon.okta.com/api/v1/sessions/me`

[2020-08-05 16:55] amcdnl commented on #804
Any updates?

[2020-08-05 17:00] aarongranick-okta commented on #804
@amcdnl We have released a new version of `@okta/okta-auth-js` (3.2.2) which should correct this flaw. The latest version of `@okta/okta-auth-js` will be installed as a dependency by our React or Angular SDK on a clean install. To update an existing install, we recommend erasing your node_modules directory and any .lock files and then running `npm i` or `yarn install` (if you are using yarn).

[2020-08-05 18:32] cfbao commented on #842
@aarongranick-okta Thanks for the tip. Is the documentation in this [readme](https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#user-content-configuration-options:~:text=By%20default%2C%20authService%20will%20consider%20a,getIdToken()%20and%20getAccessToken()%20return%20a%20value.) inaccurate then?

I have a workaround right now to check access token is truthy before use, otherwi

[2020-08-05 19:02] swiftone commented on #842
It is...for now. Sorry for the confusion.

It does take some careful work, but the example @aarongranick-okta listed above with a custom `isAuthenticated` should work - notice how it references the `authService`  variable that is defined BEFORE the `isAuthenticated` function is defined, but that variable is assigned AFTER the `isAuthenticated` is defined.   This works because the function referenc

[2020-08-05 19:18] cfbao commented on #842
@swiftone I was gonna say my difficulty was the function to the `Security` component, but then I noticed I could just pass an entire `authService` to `Security`... So that should work. Thanks!

[2020-08-06 00:05] mraible opened #857 "Warnings about CommonJS or AMD dependencies in Angular 10"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Install the Okta Angular SDK in an Angular app, then run `npm run e2e`. You'll see errors like the following in your cons

[2020-08-06 05:21] sandunes commented on #775
I'm on` okta-auth-js 3.2.1 (okta-react 3.0.3)` and I'm seeing this issue in both Chrome and Firefox(in both private and regular tabs).

[2020-08-06 09:46] brvinodh opened #858 "Unable to npm install OKTA"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

npm i @okta/jwt-verifier --cache /tmp/empty-cache

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@okta%2fjwt-verifier - Not found
npm ERR! 404
npm ERR! 404  '@okta/jwt-verifier@^1.0.0' is n

[2020-08-06 13:53] joshuakwaite commented on #567
Same - I've actually seen this issue crop up a lot in the last week where it virtually never happened before that. No dependency updates, etc.

Since the issue started I've upgraded our dependencies as follows, but the issue is still occurring.

`"@okta/okta-angular": "^2.0.0",
 "@okta/okta-auth-js": "^3.0.1",`

[2020-08-06 16:15] DavidLozzi commented on #750
@swiftone it appears that `<SecureRoutes` is causing this issue? We've removed using Okta SDKs to get the user info, instead just reading `localStorage` directly. Can you point me to the code that might be causing this? I can try it out in my own fork

[2020-08-06 16:37] dgangwar opened #859 "TokenStorage option cookie is not setting httponly attributes for the cookies."
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I am trying to use the cookie storage option and want to verify that the httpOnly attribute is set for the cookies when a

[2020-08-06 17:15] igcherkaev commented on #804
@aarongranick-okta I am testing this with Angular 9 and:
- `@okta/okta-auth-js: 3.2.2`
- `@okta/okta-angular: 2.1.0`
- `@okta/okta-signin-widget: 4.2.2`

Seems like latest versions of `@okta/okta-signin-widget` has some bugs rendering the widget unusable in some cases.
So far looks good, but I'll give it more tries and report back.

[2020-08-06 17:19] aarongranick-okta commented on #804
@igcherkaev Is the render bug with widget version 4.2.2, or with newer versions?

[2020-08-06 17:31] igcherkaev commented on #804
@aarongranick-okta with the newer versiond (4.2.3 and 4.3.0), I left a note in the existing issue there in the widget repo.

[2020-08-06 18:25] swiftone commented on #859
okta-react is a front-end JS package that needs to set and consume the token, and therefore cannot use the 'httpOnly' flag that would prevent JS from using that cookie.

I'm not aware of any frontend JS OIDC libraries (from Okta or elsewhere) that would be able to do this - you would have to set the cookie via a server, and said cookie would only be usable with that one server.  If you are looking

[2020-08-06 18:25] #859 closed

[2020-08-06 18:40] swiftone commented on #750
@DavidLozzi - We've touched a few issues that may impact your case, try out okta-react 3.0.4 and make sure it's running okta-auth-js 3.2.2+

You may also be running into a problem like the one described here: https://github.com/okta/okta-oidc-js/issues/842.  A workaround is in that issue, depending on what you need.

But here's some background:

okta-auth-js (the core library managing the tokens)

[2020-08-06 18:54] swiftone commented on #857
Thanks for the report!

Internal ref: OKTA-320699

[2020-08-06 19:39] igcherkaev commented on #804
@aarongranick-okta `@okta/okta-auth-js: 3.2.2` seems to be working fine now, no PKCE issues so far.

[2020-08-06 21:00] ch-tactica commented on #753
Huh? If it's not expected to revoke tokens at logout.... why in the world is it calling the revoke endpoint automatically when you call authService.logout?????

[2020-08-06 21:10] swiftone commented on #753
@ch-tactica @luispeerez - I sit corrected, logout() calls the okta-auth-js signOut() and that was changed to include revokeToken() in okta-auth-js 3.0 (https://github.com/okta/okta-auth-js/releases/tag/%40okta%2Fokta-auth-js%403.0.0) - I forgot that change.

This issue seems identical to https://github.com/okta/okta-auth-js/issues/439, and as you can see from the comments there I've been unable to

[2020-08-06 21:15] ch-tactica commented on #753
@swiftone Thanks for the context, if I have time later I'll see if I can send you those details. I will try rolling back to an older release for now to see if that works.

[2020-08-07 18:28] michmerr commented on #771
I've got users seeing this intermittently in an app deployed using:

    @okta/okta-auth-js 3.1.4
    @okta/okta-react  3.0.2

I'm still figuring out how to repro the issue locally to see if the recent bump to 3.0.3 and 3.2.2 have a fix. I assume that this issue would have been closed if that were the case.

Is there a work around for when this occurs?

[2020-08-07 18:35] dimotech commented on #775
I'm on okta-auth-js 3.2.1 and okta-react 1.4.1, I am seeing this error in safari and it will keep refreshing the page constantly. And some time in chrome, it will show AuthSdkError: unable to retrieve OAuth redirect params cookie. Anyone can give some helps here? Really appreciate it!

[2020-08-07 19:16] swiftone commented on #775
@dimotech - Are you using okta-react AND the signin-widget?   If so, make sure your okta-react is using the latest okta-auth-js (3.2.2+) as we added a change to resolve conflicts between the okta-auth-js bundled with the widget and any okta-auth-js used outside of the widget (such as in okta-react).

Let us know if that clears up the issue.  Otherwise, I'd look into upgrading your okta-react to th

[2020-08-07 19:20] swiftone commented on #771
@michmerr - I would definitely recommend using the latest okta-react 3.0.4+ and okta-auth-js 3.2.2+, as prior versions had some syncing issues where the copy of the tokens kept in okta-react could be out of date.

However, these versions don't change the definition of `isAuthenticated()` - that will be an upcoming major version change.  Until then, if you want to guarantee that the idToken is vali

[2020-08-07 20:01] michmerr commented on #771
Thanks, that explains how I could experience a situation where I get an access token but _not_ an id token. When I check things in the debugger, they always have the same expiration time, and yet when the problem occurs, a simple refresh of the app page doesn't fix things (as you'd expect if were due to the expiration occurring between grabbing the tokens).

Since it's difficult for me to reproduc

[2020-08-08 17:28] cfbao commented on #750
@DavidLozzi I considered doing something like this in our web app, but wasn't sure if it's considered proper security practice, so opted for a different (but more complicated) approach that worked for us.

I wonder what Okta's official advice on this is. Is that session refresh route supposed to be used in such a way? If so, would it make sense for this SDK include built-in support for it? @swifto

[2020-08-10 15:46] Savahn opened #860 "error.errorCode: login_required not caught by TokenManger on error subscription"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
I am currently testing edge-case scenarios within our application, specifically around stale sessions and expired access t

[2020-08-10 16:55] shuowu commented on #750
@cfbao @DavidLozzi As you figured out, the SDKs token refresh is based on valid OKTA SSO session. You can customize the session expiration in your OKTA developer console by following: Applications -> Your SPA application -> Sign On -> Sign On Policy -> Click Add rule button -> Checking the `Prompt for re-authentication` in `Actions` section.

[2020-08-10 17:59] shuowu commented on #860
@Savahn I suspect you were running into a scenario where your OKTA SSO session got expired, but one of your tokens is still valid, then the current `okta-react` SDK will think you are still login by default, then still keep you in login status.

We are going to change the default behavior to set `isAuthenticated` to true only when both tokens are available in the next breaking change. Meanwhile, y

[2020-08-10 18:38] joshuakwaite commented on #685
I would also love for this to be supported again, or at least the documentation updated so that it doesn't appear to be supported when it is not.

[2020-08-10 18:47] Savahn commented on #860
I forgot to mention, I'm already using a workaround for the isAuthenticated callback.

[code]

[2020-08-10 19:41] shuowu commented on #860
@Savahn Can you share simple reproduction steps for your app, then I can look into the issue.

Also, I assume it may cause by two authClient instances running auto-renew process concurrently (one from the okta-react SDK, the other one from the sign-in-widget), I would recommend you turn off `autoRenew` in sign-in-widget by overriding the `authParams` configuration (https://github.com/okta/okta-sig

[2020-08-10 20:16] Savahn commented on #860
Adding the autoRenew: false to the tokenManager in the authParams still leaves me with the same login_required error and the auth timeout. I'll attempt to get a minimalistic repo set up that recreates the issue. For now this is the auth config we use when setting up the sign-in widget, everything else is handled with useOktaAuth hooks from the okta-react package after sign-in.

[code]

[2020-08-10 21:45] shuowu commented on #860
Also, are you using the `SecureRoute` component from `okta-react` SDK in your app?

[2020-08-11 03:25] Savahn commented on #860
Yes, we have a combination of `Route` and `SecureRoute` components

[2020-08-11 13:11] mmoroppa opened #861 "CORS error while longing out using authService.logout("/")"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
After updating okta-auth-js from v3.1.1 to v3.2.3 I get the following CORS error when I try to logout using
authService.lo

[2020-08-11 14:55] shuowu commented on #861
@mmoroppa Thanks for reporting the issue. In the `auth-js` SDK, cors error is normally misleading, it mostly means underlying HTTP response is not in `ok` status.
I'll also try to reproduce the issue to see the root cause.

[2020-08-11 15:24] shuowu commented on #860
@Savahn Your configuration looks good, and I also tried your SDK dependencies in the [okta react custom-login sample](https://github.com/okta/samples-js-react/tree/master/custom-login), looks like everything works well there.

As we discussed, I would suggest a minimalistic repo with reproduction steps can be helpful to identify your issue. Meanwhile, you can also reach out to our support team (de

[2020-08-11 20:01] plin-prog opened #862 "Okta Vue authorization code flow bug"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native
- [x] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
There's a bug during the authorization flow when a user logs onto the application after not having logged in for a while (

[2020-08-11 20:16] plin-prog commented on #862
Is this similar to https://github.com/okta/okta-oidc-js/issues/804?

I've seen recommendations to override **onSessionExpired**.  Is this reliable? I'm reading this method is being deprecated.

[2020-08-11 20:41] shuowu commented on #862
@plin-prog The suggestion would be to override the `onSessionExpired` callback to a no-op (`() => {}`) function to avoid login concurrency issue (same as deprecate). Currently the default behavior is to try to auto-login, which causes issue.

We will also update the `okta-vue` SDK with the latest `auth-js` SDK to make sure it behaves correctly by default.

[2020-08-11 21:22] plin-prog commented on #862
Thank you for confirming that this is still the recommended workaround.  I'll try this and report back.

[2020-08-11 22:10] shuowu commented on #685
@joshuakwaite We are investigating on the issue, will update in this thread when a solution found.

[2020-08-12 12:27] plin-prog commented on #862
@shuowu This solution appears to be working!  If this error happens again, I will reopen a ticket.  Thank you!

[2020-08-12 12:27] #862 closed

[2020-08-12 14:18] OwenVey commented on #844
I too have been seeing this happen recently and see the same thing @michmerr has pointed out where refreshing with an expired session causing this error. I am using @okta/okta-vue ^2.0.0.

[2020-08-12 14:50] shuowu commented on #844
@OwenVey Does this thread (https://github.com/okta/okta-oidc-js/issues/862) help?

[2020-08-12 14:54] shuowu commented on #844
@b1gb3n97 For angular SDK, please override the onSessionExpired callback to a no-op function (`() => {}`) as a workaround we'll deprecate the default behavior of that callback function in next angular release.

[2020-08-12 14:56] shuowu commented on #844
@sleepwalky @michmerr The issue should have been fixed in react-sdk. The latest version are @okta/okta-react  3.0.4, @okta/okta-auth-js  3.2.3.

[2020-08-12 16:10] shuowu commented on #861
@mmoroppa I failed to reproduce the issue with the custom-signin sample (https://github.com/okta/samples-js-react/tree/master/custom-login) with the dependencies provided in this issue.

One suggestion I can think of is to clear the localStorage as stale data from other port may affect how the app works.

[2020-08-12 18:00] b1gb3n97 commented on #844
Thanks for the reply. This workaround seems to fix it for now.

[2020-08-12 20:48] shuowu commented on #858
@brvinodh I tried to download it locally without any issue. Does this faq from npm help: https://docs.npmjs.com/common-errors#not-found--server-error

[2020-08-12 20:48] #844 closed

[2020-08-12 21:43] shuowu commented on #846
@mahesha-perpetualny @rupeshbhatti
Can you try to install `@okta/okta-auth-js` module in your app with
[code]
Basically, the error means the emitter ([tiny-emitter](https://github.com/scottcorgan/tiny-emitter)) in the authJs instance is not properly defined.

[2020-08-13 02:08] Derifgyn commented on #753
@swiftone Reviving this because I may have some help here.

I emailed developers@okta.com but I think I've figured out what may be happening.

If the project authentication method is set to "client_secret_basic" the revoke endpoint requires a base64 encoded clientId:clientSecret authorization header, otherwise it just requires a base64 clientId authorization header.

I'd imagine, like mine, people

[2020-08-13 14:27] dougse commented on #861
We are having a similar issue but with Angular - POSTS to the /revoke endpoint, returns a 401 but the body is {"error":"invalid_client","error_description":"Client authentication failed. Either the client or the client credentials are invalid."}

[2020-08-13 14:37] shuowu commented on #861
@dougse looks like your app is revoking an invalid token. Can you please create a new issue with the reproduction details provided? Thanks

[2020-08-13 15:37] andredigenova commented on #861
I'm also experiencing this issue. It appears to be a regression -- this was working fine in 3.0.2.

Looking in console it looks like the POST to https://tpicap.okta-emea.com/oauth2/v1/revoke is returning a 403.

Calling authService.logout("/") a second time seems to work.

[2020-08-13 15:38] andredigenova commented on #861
I'm also experiencing this issue. It appears to be a regression -- this was working fine in 3.0.2.

Looking in console it looks like the POST to https://{OKTADOMAIN}.okta-emea.com/oauth2/v1/revoke is returning a 403.

Calling authService.logout("/") a second time seems to work.

[2020-08-13 16:18] shuowu commented on #861
@andredigenova I cannot reproduce your issue with @okta/okta-react@3.0.4 and @okta/okta-auth-js@3.2.2.
I suspect you are running into a state where you are revoking with an invalid token. Also, 403 looks like you have a scope mismatch. I would recommend to clear your localStorage and try if you can still reproduce the issue.

[2020-08-13 16:29] shuowu commented on #861
To correct here, revoke an invalid token will return 200 per https://developer.okta.com/docs/guides/revoke-tokens/overview/

[2020-08-13 19:01] DavidLozzi commented on #750
@swiftone is there code in here that removes the `idToken` from local storage when it expires? That is causing our headaches... Our `accessToken` is 24hrs, but `idToken` is 1hr. We are pulling the user's email address from the `idToken`. So when it's not there, my code assumes the token is bad and asks the user to log back in.

My workaround is to copy the data out of the idToken so when it does e

[2020-08-13 19:14] shuowu commented on #750
@DavidLozzi Tokens will be removed from storage as long as they are expired. You can also use the [getuser](https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#authservicegetuser) API to get the latest user info.

[2020-08-13 19:20] sarath-sasikumar commented on #750
@cfbao I had to take this approach as well, because I did not want to change the session expiration just for one application. However, is there any better approach to keeping the okta session alive other than periodic refresh before expiration. It would be good if you can give some insight into the alternative approach you mentioned if it aligns with my requirement.

[2020-08-13 19:37] shuowu commented on #750
@sarath-sasikumar have you tried the setting mentioned above? I think it should be able just to customize session expiration time for one specific app.

[2020-08-13 20:08] mmoroppa commented on #861
I still have the CORS issue,
Do you have to have the Base url set up? Because it's optional (the url is in the trusted urls though)

Is there any specific configuration the auth server should have?

[2020-08-13 20:37] DavidLozzi commented on #750
We tried that setting @shuowu and it didn't do anything, idToken expiration was still 1 hour. From talks with Okta support, they said to extend the expiration of the idToken we'd have to create a hook to define it. We don't want to go down that route for numerous reasons.

Our current approach seems sound.
- Store the email from the idToken in local storage
- When getting an email, check idToken,

[2020-08-13 20:37] DavidLozzi commented on #750
I'm curious though, where in the library does it delete the idToken? I was trying to find it but couldn't. Can someone point me to it?

[2020-08-13 21:22] shuowu commented on #750
@DavidLozzi Want to double-check first if you are on the latest react-sdk version (3.0.4), there are several fixes there to guarantee the autoRenew work properly.
Also, the setting only can extend the OKTA SSO session expiration time, but not the idToken.

If you are with the latest react 3.x, then looks like you are in the situation that you have a long-live accessToken (24hrs), but a short idTok

[2020-08-13 21:27] shuowu commented on #861
@mmoroppa CORS issue may happen if you have an incorrect issuer, are you seeing the issue for logout only, or it also happens for login?
Also, are you using the default auth server or a customized one?

[2020-08-13 21:40] cfbao commented on #750
@sarath-sasikumar There's some setup in our company that automatically logs us into Okta when we're on company network & known devices/browsers etc.. I don't know the details as I didn't set this up. I do still need to solve a race condition when logins happen. But overall this is good enough for the internal tool we're maintaining. YMMV.

[2020-08-13 22:04] shuowu commented on #796
@kuehlein I think the log is caused by using `authState` as a dependency in useEffect, since each time an authState update will generate a new authState object.
In your code, you probably can try to change the dependencies of how config should be acquired, like depend on `authState.isAuthenticated` to avoid the unmount issue.

[2020-08-13 22:05] shuowu commented on #796
@jeremyhermann Does the comment above help with your issue?

[2020-08-13 22:36] shuowu commented on #861
@mmoroppa not sure if this comment help: https://github.com/okta/okta-oidc-js/issues/753#issuecomment-673206476

[2020-08-14 00:33] bartimaeus commented on #853
@swiftone I have been experiencing an issue with <SecureRoute/> too. I'm using `"react-router-dom": "^5.2.0"`.

Thanks @baumandm! I spent half a day debugging my app trying to figure out why after upgrading `@okta/okta-react` and `@okta/okta-signin-widget` my nested routes weren't working correctly. Finding your comment saved me!

I thought the issue was only a problem with nested routes, but then

[2020-08-14 04:30] arminhaghi commented on #846
I see this error after upgrading from `3.0.2` to `3.0.4`. Our application is on Next framework and we do have SSR in our app.

[2020-08-14 05:04] arch10 commented on #807
I am able to replicate this crash for mostly all the case where we are expecting some result from the intent. Only happens if you are not logged in to Okta.

[code]

@shuowu any update on this bug?

[2020-08-14 12:44] mmoroppa commented on #861
@shuowu It happens only on the logout.
We are using a customize server, that's why I was wondering if there is some extra configuration that should be added.
But the problem didn't happen before the update.

Regarding the comment you mentioned, I don't see what could be missing, because the client authentication is done on the same server when the user logs in. And if there is a miss configuration

[2020-08-14 14:36] shuowu commented on #861
@mmoroppa Right, since CORS error is misleading in the SDKs sometime, just want to see if they are relevant.
I suspect the change here (https://github.com/okta/okta-auth-js/commit/e020f5bda3dff3d9054c84e830f703f94b56db97#diff-7df4a2a48db526b0c861a4e70460d36eR296) caused your issue. As before the change, there is actually a bug in the SDK to just call /revoke endpoint with an empty token, but with

[2020-08-14 14:42] shuowu commented on #807
@arch10 Thanks for the information!
I don't see a workaround now as the bug looks come from the android native bridge. We'll prioritize the issue to get it fixed.

[2020-08-14 15:05] shuowu commented on #846
@arminhaghi The issue is the bundler (like webpack) pickup the server bundle instead of the browser one in SSR. Then with the latest change, the `AuthService` constructor referred to API that only available to the browser bundle (https://github.com/okta/okta-auth-js/blob/master/package.json#L11).

As said in the [OKTA REACT SDK readme](https://github.com/okta/okta-oidc-js/tree/master/packages/okta

[2020-08-14 15:15] shuowu commented on #846
Internal Ref: OKTA-322595

[2020-08-14 15:47] andredigenova commented on #861
@shuowu cleared localStorage, logged in and hit logout and issue persists. It calls revoke which returns a 403.

If I call authService.logout a second time it behaves as expected but doesn't send a second revoke. It just clears local login state.

[2020-08-14 16:36] rupeshbhatti commented on #846
In my case the app isn't using SSR

[2020-08-14 16:51] shuowu commented on #846
@rupeshbhatti You can check which `auth-js` bundle you are using by adding a `console.log()` in `node_modules/@okta/okta-react/dist/AuthService.js` constructor, after
[code]
Then you should be able to see log like https://github.com/okta/samples-js-react/issues/129/#issuecomment-673533874,  check the `userAgent` field of the `_oktaAuth` instance to see if a `server` string is included. With `serve

[2020-08-14 16:56] shuowu commented on #853
@bartimaeus Thanks for reporting the issue!

Internal Ref: OKTA-322622

[2020-08-14 17:28] swiftone commented on #853
@bartimaeus - Your issue sounds separate from react-router v6 (beta), and sounds more like https://github.com/okta/okta-oidc-js/issues/777 (which is on my current sprint)

[2020-08-14 20:11] bartimaeus commented on #853
@swiftone you're right. #777 is my exact issue.

[2020-08-14 21:09] shuowu commented on #843
@staffordp As suggested from our support team, you will need to call [`/introspect` endpoint](https://developer.okta.com/docs/reference/api/oidc/#introspect) to check the validity of the token.
Also, to confirm, there is currently NO API method exposed from any client SDK.

[2020-08-14 22:20] sarahdayan commented on #721
Hey @swiftone, I'm curious about the definition of `isAuthenticated`, since it seems it doesn't mean that the user is properly authenticated in as you brought up in https://github.com/okta/okta-oidc-js/issues/721#issuecomment-611212502.

I followed [this tutorial](https://developer.okta.com/code/react/okta_react/#create-a-custom-sign-in-form) and it seems to recommend using `authState.isAuthentica

[2020-08-14 23:01] swiftone commented on #721
@sarahdayan - Happy to answer what I can:

The problem here is "what does it mean to be 'authenticated'?".  The code currently says something like: "If you have either a valid access token or a valid id token, that means you successfully proved your authentication and don't yet need to do it again".

But often those two tokens have different expiration dates.  And if (for example), your idToken ex

[2020-08-15 11:50] sarahdayan opened #863 ""AuthSdkError: The app should not attempt to call authorize API on callback." when passing my own `AuthService` instance"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I'm willing to ensure that both `idToken` and `accessToken` are still fresh to determine that a user is authenticated. As

[2020-08-15 12:09] sarahdayan commented on #721
Hi @swiftone, thanks a bunch for the detailed answer. This is crystal clear.

After implementing the suggestion solution, I'm hitting a (non-blocking) error. I opened a case [here](https://github.com/okta/okta-oidc-js/issues/863) to avoid derailing the thread.

[2020-08-17 11:00] sajeshMUFC commented on #460
I m also facing the same issue in our SPA app
Env :
 "dependencies": {
    "@fortawesome/fontawesome-svg-core": "^1.2.8",
    "@fortawesome/free-solid-svg-icons": "^5.5.0",
    "@fortawesome/vue-fontawesome": "^0.1.2",
    "@okta/okta-auth-js": "^3.1.3",
    "axios": "^0.19.0",
    "bulma": "^0.8.2",
    "protobufjs": "^6.9.0",
    "vue": "^2.6.10",
    "vue-router": "^3.0.1",
    "vue-search-sele

[2020-08-17 13:13] nsingh2018 commented on #460
I am also getting this error in reactJs:

error.errorCode: login_required, error.description: The client specified not to prompt, but the user is not logged in.

Can someone provide a solution as our production is impeded due to this issue.

[2020-08-17 17:09] mraible commented on #857
I used [this guide](https://developer.okta.com/code/angular/okta_angular_sign-in_widget/) to add the Sign-In Widget to an Angular 10 app today. I get some additional warnings after doing it.

[code]

[2020-08-17 17:25] mraible opened #864 "onAuthRequired has undefined router when using Ionic"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I'm trying to use [the Okta Sign-In Widget and Angular guide](https://developer.okta.com/code/angular/okta_angular_sign-i

[2020-08-17 22:10] aarongranick-okta commented on #864
The logic is implemented here: https://github.com/okta/okta-signin-widget/blob/master/src/util/OAuth2Util.js#L75

It may be possible to bypass this logic via authParams so that it performs the logic here: https://github.com/okta/okta-signin-widget/blob/master/src/util/OAuth2Util.js#L83

Or you can skip the entire OAuth2 token flow in the SIW and call `getWithoutPrompt` yourself in the success call

[2020-08-17 22:15] aarongranick-okta commented on #861
@andredigenova Thanks for bringing this to our attention. We believe we have identified a flaw which is causing this CORS failure for token revoke. We are working on getting this issue fixed as quickly as possible. We will update this issue with further status as it becomes available. Thanks again.

[2020-08-18 00:03] mraible commented on #864
It looks like the [README](https://github.com/okta/okta-oidc-js/tree/master/packages/okta-angular#using-a-custom-login-page) has it correctly:

[code]

[This documentation](https://developer.okta.com/code/angular/okta_angular_sign-in_widget/) needs updating.

[2020-08-18 00:29] aarongranick-okta commented on #863
@sarahdayan Thanks for the report. This error is most commonly called by router config. The most common cause is route logic which is meant for a non-callback route running on the callback. For example a route with path `/` will execute on ALL routes. This can be fixed by using a `<Switch>` and/or **exact** attribute on routes. It is important that the callback route executes without any additiona

[2020-08-18 00:36] aarongranick-okta commented on #460
@nsingh2018 This console message is normal and expected when attempting to renew a token and the user's session is expired or has been ended. When a token renew fails, the token will be removed from storage. By default, a login flow will be shown when navigating to a secure route if both the ID token and the access token are missing from storage. You may be experiencing unexpected results because

[2020-08-18 00:38] aarongranick-okta commented on #857
@mraible Thanks for the info. We are planning on converting configuration-validation to typescript in the near future. This should take care of some of these warnings. The SIW will be a longer term project.

[2020-08-18 00:42] aarongranick-okta commented on #864
Internal ref: OKTA-323249

[2020-08-18 14:33] haishengwu-okta opened #865 "Sample code in README isn't 100% working out of box"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native
- [ ] okta-vue

## Issue description

In README

1. `App.js` import `Protected.js` but it doesn't mentioned anywhere in README.
2. function-based `Home.js` doesn't import dependencies.

[2020-08-18 20:22] ggentzel commented on #804
I am seeing this same error when using `@okta/okta-vue: 2.0.0`, I have confirmed that the latest version `@okta/okta-auth-js: 3.2.2` is being used. It doesn't always happen but one of our users reports he can make it happen consistently. I have a video of the issue with the user clicking through his developer tools in chrome that I can provide if that is of help. Any suggestions?

[2020-08-18 20:28] aarongranick-okta commented on #804
@ggentzel If you are able to post that video here, that could be helpful.

[2020-08-18 22:04] aarongranick-okta commented on #861
Internal ref: OKTA-323565

[2020-08-19 16:10] hartvix commented on #717
I am experiencing the same problem with @okta/okta-react as well.

[2020-08-19 16:23] shuowu commented on #717
@blake-mealey @hartvix In current okta-react, the SDK will think the app `isAuthenticated` when at least one of the tokens (idToken, accessToken) is available. I suspect you are running into a scenario where idToken is removed from storage, but the accessToken is still sit there. Then the SDK ran into this [block of code](https://github.com/okta/okta-oidc-js/blob/master/packages/okta-react/src/Aut

[2020-08-19 16:25] shuowu commented on #717
Internal Ref: OKTA-323720

[2020-08-19 18:15] pbollaram opened #870 "AuthSdkError: Unable to retrieve OAuth redirect params cookie"
## I'm submitting this issue for the package(s):
- [ x] okta-react

## I'm submitting a:

- [x ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

## Expected behavior
i am continuously getting "AuthSdkError: Unable to retrieve OAuth redirect params cookie" error when i am trying to login using OKTA SSO.
it was working earlier and started seeing this issue all of

[2020-08-19 18:30] aarongranick-okta commented on #870
@pbollaram Can you provide extra information about the Browser/OS? Do you see the behavior on all browsers? Does the issue happen every time or is it intermittent?

[2020-08-19 18:51] pbollaram commented on #870
chrome Version 84.0.4147.125 .
Mac OS  Version 10.14.6

[2020-08-19 18:57] pbollaram commented on #870
this is not intermittent i would say. from last few days this is happening continuously.

[2020-08-19 19:07] aarongranick-okta commented on #870
@pbollaram Does it work in Firefox and/or Safari? Does the issue only happen on Chrome? And to confirm, you said it does not happen when running locally, but only when deployed in production?  If possible could you send more information, such as a network log (https://support.zendesk.com/hc/en-us/articles/204410413-Generating-a-HAR-file-for-troubleshooting) to devex@okta.com so we can analyze it.

[2020-08-19 19:19] pbollaram commented on #870
I do not see this issue with Safari. The App working normal.
sure sending you .har file

[2020-08-19 19:22] aarongranick-okta commented on #870
This could be related: https://www.chromium.org/updates/same-site Is your site running on `https` or `http` protocol?

[2020-08-19 19:28] pbollaram commented on #870
we are running this app with protocol **http** since we are still at dev stage ( changing it to https is in our TODO list).
i have enabled the IP address of the app as secured by running this **chrome://flags/#unsafely-treat-insecure-origin-as-secure** in chrome browser and testing the app.

[2020-08-19 19:35] aarongranick-okta commented on #870
The issue may be that "secure" cookies are being set incorrectly. Our code detects http/https based on `window.location.protocol` and sets this value automatically. However, you can set this value explicitly. https://github.com/okta/okta-auth-js#additional-options

I'm not sure which value is correct in your case, but I think maybe setting `cookies.secure` to false may work:

[code]
Alternatively,

[2020-08-19 19:40] aarongranick-okta commented on #870
Here is the relevant piece of code on our side: https://github.com/okta/okta-auth-js/blob/master/lib/browser/browser.ts#L71 It may help to debug through it in your browser (we do provide external sourcemaps which can be used by your app using the `source-map-loader` webpack plugin)

[2020-08-19 19:42] aarongranick-okta commented on #870
Reading through the code I'm guessing you will see the warning about running on HTTPS and then cookieSettings.secure will be set to false. However the 'sameSite' value will still be 'none'. I think setting `cookies.secure` explicitly to false should fix this by automatically setting `sameSite` to `lax`

[2020-08-19 20:14] pbollaram commented on #870
having below piece of code is working for me. hopefully i can remove this when we enable https. is it?

 {
 // other okta-auth-js config, issuer, etc ....
  cookies {
    secure: false
  }
}

[2020-08-19 20:25] aarongranick-okta commented on #870
@pbollaram Yes we recommend removing it when enabling https. You could also make it conditional:
[code]
I have created an internal issue to adjust the logic on our end to set `sameSite` to `lax` when we autodetect http domains so this workaround should not be necessary in the future.

Internal Ref: OKTA-323826

[2020-08-19 20:44] AndriiDovhopolov-okta commented on #657
@dineshpvs , hi!

I was not able to reproduce bug using fresh installation of Angular 7.2 and playing around writing tests for component.

Probably, your issue could be related to Angular's renaming of properties `defineInjectable` and `ɵɵdefineInjectable` which happened several times back and forth while Angular was switching version from 6 to 7 and then to 8.

Best solution will be to upgrade to

[2020-08-19 22:57] pbollaram commented on #870
Great. I will go ahead and keep this change for now.

[2020-08-19 22:57] #870 closed

[2020-08-20 15:22] hartvix commented on #717
@shuowu Thanks, that workaround works. However, am I right in assuming that after an hour of inactivity and a page refresh, the user will have to log in again (since id tokens are restricted to one hour lifetime)? Or am I missing some trick to keep the user login alive?

[2020-08-20 16:46] ekasprzyk commented on #567
We also have this issue.
`"@okta/okta-auth-js@^3.1.4", "@okta/okta-react@^3.0.1"`

I can add that we get this issue similarly after long periods of inactivity.  What I do know:
* The onSessionExpired event in config is called
* The token error event with `login_required' and `accessToken` set is also called
* It doesn't happen if I set the access token and Okta session to expire after 5 minutes.

[2020-08-20 17:04] shuowu commented on #717
@hartvix Yes, the assumption is correct. Since right now there is no `authJs` instance exposed from `react-sdk`, what you can use is only the `AuthService` instance, which has bug now.

Two workaround suggestions before the office bugfix release if you don't want the user login too frequently:
- Extend your session expiration time in the okta developer console. `Applications -> {your app} -> Sign

[2020-08-20 17:25] swiftone commented on #796
@jeremyhermann @kuehlein - I did more extensive testing, and I've been unable to replicate the problems you describe (react 3.0.2 changed some details about SecureRoute - that may have resolved this issue.

Here's what I tried:

[code]

With these I can see that the state can be updated (using the Counter) without causing unmounts, that Route changes DO cause unmounts (by switching between the pro

[2020-08-20 17:29] swiftone commented on #777
I was digging into this issue, but I've been unable to reproduce it with recent versions of okta-react (and react-router-dom 5.2.0/react-router 16.13.1)

Here's what I tried:
[code]

Let us know if you're continuing to see the unmounting issue, and if so, with what versions (including react-router).

[2020-08-20 17:37] aarongranick-okta commented on #567
@ekasprzyk We recommend updating the latest `okta-react` (current `3.0.4`). This update uses the latest 3.2.x version of `okta-auth-js` and removes default `onSessionExpired` behavior which was causing some unexpected behaviors.

The message " login_required, error.description: The client specified not to prompt, but the user is not logged in." simply means that the token renew failed because the

[2020-08-20 21:57] zg-trinac commented on #138
I'm running into this now, seems like the [Okta docs](https://developer.okta.com/code/react/okta_react_sign-in_widget/) is still recommending the same or a similar action for the widget `onAuthRequired`?

react-router-dom@5.1.2
@okta/okta-react@3.0.2
@okta/okta-signin-widget@4.3.2

[2020-08-20 22:22] swiftone commented on #138
@zg-trinac: This exact github issue is a few major versions behind the code you are running, and you're probably seeing a slightly different error.

Could you open a new issue with details about the error you are seeing?

When you do so, could you please expand your question a bit, as I'm not clear which recommendation you are asking about.

[2020-08-21 17:43] zg-trinac opened #873 "Security onAuthRequired for custom widget causes React warning: Cannot update during an existing state transition..."
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Following the steps in the React [Okta widget](https://developer.okta.com/code/react/okta_react_sign-in_widget/) guide to redirect to a

[2020-08-23 20:15] chinanderm commented on #777
@swiftone I am experiencing the problem with react-router-dom 5.2.0. Below is my set up. `MyProtectedApp` is remounted on every route change.

[code]

[2020-08-24 19:21] swiftone commented on #777
@chinanderm - interesting, thanks for the case.  We are rewriting SecureRoute( see https://github.com/okta/okta-oidc-js/pull/872 ) as the current version was never written to support all the `<Route>` options.  As such, I'd recommend against violating react-router-dom standards by having both component AND render, but I'll this case against the new code before we push it out.

[2020-08-25 21:51] niskah-energies opened #874 "How to use isAuthenticated callback in OKTA_CONFIG"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [x] Other (Describe below)

## Current behavior

Error (TypeError: undefined is not an object (evaluating 'authService.getAccessToken') )when I'm using isAuthenticated like in documenta

[2020-08-26 16:17] swiftone commented on #874
@niskah-energies - thanks for the report.  I've passed this question on to one of our Angular devs and he'll get back to one of us.

[2020-08-26 16:23] niskah-energies commented on #874
Hi @swiftone , thank you.

[2020-08-26 16:57] aarongranick-okta commented on #874
@niskah-energies The current version of `okta-angular` does not pass any parameters to the `isAuthenticated` function. We are working on a new release which will pass the `authService` as a parameter; this should resolve your issue. We expect to release this updated version this week.

In the meantime, as a workaround you could probably place an instance of the authService (from the Angular inject

[2020-08-26 17:45] niskah-energies commented on #874
Hi @aarongranick-okta, thaï you for your reply. I'm not very familiar with APP_INITIALIZER, maybe I wait update release.

[2020-08-26 20:57] jakemager opened #876 "Unable to use latest version of core-js"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I am building a react application. I am using the library @okta/okta-react and @storybook/react

Both require the package core-js to be

[2020-08-26 21:47] swiftone commented on #876
Hi @jakemager, thanks for the report.

We aren't consuming corejs directly, rather it is coming in from babel transpilation, and you should be using the transpiled version of okta-react, so it's a bit surprising to run into this error.

I'll see if I can reproduce this (and if the workaround I mention here works) as soon as I have a free moment, but until then, check your babel config and make sur

[2020-08-26 22:33] swiftone commented on #777
@chinanderm - I've confirmed your case doesn't unmount/remount using the new code.

With that cleared, I'll start our internal CI process to get that version (3.0.5) of okta-react published.

[2020-08-26 22:35] chinanderm commented on #777
Thank you! Will upgrade as soon as that's out.

[2020-08-27 03:10] bdruth opened #877 "Confused? Is Okta auth in Android apps shareable with webviews?"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [x] oidc-middleware
- [ ] okta-react
- [x] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [x] Other (Describe below)

## Current behavior
I'm new to Okta and trying to navigate the best way to incorporate Okta authentication in native apps (iOS/Android) to SSO with webviews

[2020-08-27 06:10] jakemager commented on #876
@swiftone this is my dependencies in package.json
[code]
webpack module
[code]
I am able to run storybook which uses js-core with this setup.

I have also tried using a resolution, but that did not work.
[code]

It seems my only solution to have the code compile is installing core-js version 2 to my repository. Am I possibly forgetting a different package or something in babel settings that would

[2020-08-27 12:10] ekasprzyk commented on #846
@shuowu We're using Next.js, which mixes SSR and client side.  We've had the same issue and I can verify the userAgent field contains the word server in it :(. `userAgent: 'okta-auth-js-server/3.2.3'`.

This seems to be happening on the Next pre-render stage.  We've included the `<Security>` component in `_app` and that seems to be enough for it to go through the SSR side.

Next.js manages the web

[2020-08-27 20:27] swiftone commented on #846
@ekasprzyk - I'm not familiar with the details of Next.js (it's been on my personal to-do list for...a while), so I can't say too much, but the key issue seems to be that you're using the server-based auth-js, but okta-react expects the browser-based auth-js.

okta-react wasn't built with SSR in mind, and there are numerous complexities involved if you're trying to mix SSR and client-side renderin

[2020-08-27 20:42] swiftone commented on #877
@bdruth - Thanks for the question, I'll forward this to team members that can speak intelligently about react-native and see if we can get you an answer.

[2020-08-27 21:02] shuowu commented on #877
@bdruth Webview is not the recommended way to implement OIDC flow in the native app.
Quoted from https://www.linkedin.com/pulse/webviews-bad-use-appauth-mike-schwartz/

For the `browser-sign-in`, you may need to listen on `signInSuccess` event to get the tokens after redirect, like https://github.com/okta/samples-js-react-native/blob/82b302de87a1d8d0213bff4899604202aef1d312/browser-sign-in/App.js#

[2020-08-27 21:26] bdruth commented on #877
OK - that jives with some of the things I've read. What I'm not clear on is _what_ to do with the acquired token so that there's a seamless SSO? I'm not married to using webviews, and I've read that Chrome Custom Tabs on Android might be the better option, though it's bizarre that those are two *completely* different things in react-native, and the cross-platform behavior is completely different f

[2020-08-27 21:37] shuowu commented on #877
@bdruth The `@okta/react-native` has implemented the browser sign-in flow based on the android custom tab, you can use it by calling `signIn` function without providing any arguments.

[2020-08-28 01:01] bdruth commented on #877
Right ... but I need custom sign-in. So, how do I use custom sign-in and pass _what_ to a Chrome Custom Tab?

[2020-08-28 01:13] shuowu commented on #877
For custom signin in react native you will need to build your own sign in UI, instead of using custom tabs to open the okta login page.

https://github.com/okta/okta-react-native#custom-sign-in

[2020-08-28 02:23] bdruth commented on #877
Right - I'm following all that. I have the `custom-sign-in` working from the Okta react-native samples. All good with custom-sign-in, but ... how do I SSO that to something, _anything_ that can load a web page ... I don't really care if it's Chrome Custom Tabs or webviews at this point.

[2020-08-28 12:52] shuowu commented on #877
@bdruth If I understand your question correctly. You want to implement the SSO as the app redirects the user to a webpage (OKTA domain) to start the sign in process, then it redirects user back to the app after success sign in.
If that's the case, it is the browser sign in flow that provides from the sdk. It is implemented by using custom tabs in android.

Or you want to customize any step in the

[2020-08-28 14:53] bdruth commented on #877
No, that's not correct. We're looking at how we would have a native app, with native (custom sign-in flow), that will have native functionality in hybrid with loading web pages from existing / legacy secured systems. Both are setup in Okta using OIDC (there may be future need for SAML, too, but right now our test bed is using OIDC). Current behavior is:

* user launches app for the first time, sig

[2020-08-28 22:50] aarongranick-okta commented on #485
@bryanatlion I know it has been sometime (almost 1 year) since you filed this issue. It looks like the documentation in the README is out of date. (Internal ref: OKTA-326252)

I think the problem may be solved by putting `secure` in the `cookies` section of the config (rather than `tokenManager`)

[code]

[2020-08-29 01:07] FeiChen-okta commented on #877
Hi @bdruth,

The android native sdk needs have webview support. I have an experimental branch with this webview but this is not something we are planning to support. If you like I can share the patch with you.

[2020-08-31 02:45] davidimoore commented on #761
I can confirm that I have this issue

[2020-08-31 14:02] chrismllr commented on #460
@aarongranick-okta Seeing this problem, but considering that it may be how our okta application or auth server is configured. I am getting this error 1 day after login pretty consistently, when going back to the application after not using overnight.

Could this be a configuration within our auth server, to auto-expire user sessions 24hr after they are obtained? We also use Okta for logins to thin

[2020-08-31 14:45] shuowu commented on #761
@jdnichollsc `events` is an internal module for Node environment, but it's not included in the `react-native` env.
Here is the package that introduces `events` dependency, https://github.com/okta/okta-auth-js/blob/master/package.json#L72
We can investigate to find an alternative strategy without `events` dependency.

Internal Ref: OKTA-326406

[2020-08-31 14:48] shuowu commented on #761
@mraible `events` are needed as a peerDependency.
From the travis link in your comment, it looks like it's a test issue, does the following link help ? https://github.com/facebook/jest/issues/6434#issuecomment-525576660

[2020-08-31 14:57] jdnichollsc commented on #761
Can it be included as a normal dependency?

[2020-08-31 15:23] shuowu commented on #460
@chrismllr As Aaron described here: https://github.com/okta/okta-oidc-js/issues/460#issuecomment-675183021 , it's an error for renew token failed when session is expired.
I am not sure which OKTA SDK your app is using, the expected behavior for the latest client SDKs is to redirect the user to the login page. If you are redirected to the login page with seeing this error, you can just ignore it, a

[2020-08-31 16:09] DavidLozzi commented on #322
We have the same issue happening, any updates on this one?

[2020-08-31 17:16] bdruth commented on #877
@FeiChen-okta - feel free to share patch. So, if I'm understanding correctly, the only way to have SSO between native & web content on Android is to use the `browser-sign-in` flow? Custom sign-in (without your experimental, unsupported patch) is not possible, irrespective of Chrome Custom Tabs or Webview?

[2020-08-31 17:25] swiftone commented on #777
@chinanderm - okta-react 3.0.5 has been released

Closing this ticket as this release should close out the last of the ways to trigger this bug.  If anyone still has issues with SecureRoute unmounting with okta-react 3.0.5+, please open a new ticket with details and reference this one.

[2020-08-31 17:25] #777 closed

[2020-08-31 17:32] swiftone commented on #796
@jeremyhermann @kuehlein - We found an issue with SecureRoute, and addressed them with @okta/okta-react 3.0.5.  Please try it out and see if the problems you reported still exist.

[2020-08-31 17:53] shuowu commented on #322
@DavidLozzi We are working on a fix this issue, you can track the progress in https://github.com/okta/okta-oidc-js/pull/884

[2020-08-31 20:01] Dark-Games opened #885 "Unhandled Rejection (AuthSdkError)"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [x] Other (Describe below)

## Current behavior

If i clear the cache and cookies before Login i have this error:
Unhandled Rejection (AuthSdkError): The app should not attempt to call

[2020-08-31 20:11] FeiChen-okta commented on #877
Hi @bdruth We have a couple of different configurations

1. `custom-sign-in`: To make SSO work for your legacy web pages you'll have to get the response headers from the custom `signIn` call and set those headers in `react-native-webview`

2. `browser-sign-in-chrome-tabs`: This will not work for your legacy web pages if using `react-native-webview` since the sessions are stored in chrome and not w

[2020-08-31 22:20] shuowu commented on #885
@Dark-Games I failed to reproduce your issue with cache and cookies cleared.
The error you are seeing comes from `okta-auth-js`, it's designed to prevent the app from running into pkce race condition.
Here is the error: https://github.com/okta/okta-auth-js/blob/92ed9c126cd1e89d988d16d19b8aab0ec64ad0da/lib/token.ts#L595

I would be happy to investigate more if you can share detailed reproduction st

[2020-09-01 02:22] bdruth commented on #877
@FeiChen-okta thank you! So, I'm assuming I need to actually call `signIn` from `@okta/okta-auth-js` as is being done by the `signIn` call in `okta-react-native`, since the `signIn` exposed by `okta-react-native` is only returning the access token as far as I can tell? Or is there a way to make the call through `okta-react-native`?
**@okta/okta-react-native**#_index.js_
[code]

[2020-09-01 03:01] FeiChen-okta commented on #877
Hi @bdruth Currently the react-native SDK does not support a way to get the headers from the Android bridge. So you'll need a way to get the response header from [HttpClientImpl.java](https://github.com/okta/okta-oidc-js/blob/master/packages/okta-react-native/android/src/main/java/com/oktareactnative/HttpClientImpl.java#L133 ) to react-native layer and set the cookies in `react-native-webview`

Or

[2020-09-01 03:14] bdruth commented on #877
K, I'll take a look and see what I can come up with. Thanks much for your assistance thus far!

[2020-09-01 10:53] niskah-energies opened #886 "OktaAuthService loginRedirect() not work since last 2.2.0 update"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
AuthService login() function don't do anything

## Expected behavior
trying to login with OKTA portal

## Minimal reproduction of the pro

[2020-09-01 14:02] chrismllr commented on #460
@shuowu Thanks for the explanation, so the expired session is the root cause. Where is that session length usually defined?

[2020-09-01 14:09] shuowu commented on #460
@chrismllr You can manage your application's session expiration time in the OKTA admin console by following `Applications -> {your applicaiton} -> Sign On -> Sign On Policy -> Add Rule -> Actions -> Prompt for re-authentication`

[2020-09-01 14:10] chrismllr commented on #460
@shuowu Thank you very much, will try that now

[2020-09-01 14:13] nsingh2018 commented on #460
I test with a valid login credentials using latest chrome. Okta sign in widget just spins there and does nothing. I tried in chrome incognito window same results. I am using widget version 3.9

[2020-09-01 14:42] chrismllr commented on #460
@shuowu Those settings look to give us what we need. Is there a reason behind adding another TTL layer on top of the auth server policy? We are trying to educate ourselves on best practice with this setting.

Also for later reference, the inputs for length of time before re-prompt don't appear until you check the "Prompt for reauthentication" box in the UI.

[2020-09-01 15:39] shuowu commented on #460
@nsingh2018 Have you seen any message from chrome dev console?

[2020-09-01 15:45] andredigenova commented on #861
Just an update -- I've noticed a behaviour change on Okta's backend and revoke is now returning a 401 instead of a 403 and is causing the browser to pop a login dialog box.

[2020-09-01 15:48] shuowu commented on #460
@chrismllr Auth server is an engine for minting tokens, the application manages the TTL of the app (when can the app get tokens from the auth server). Multiple applications can use the same auth server to mint the tokens. So it makes sense to manage them separately.
Here is an article about okta auth server: https://developer.okta.com/docs/concepts/auth-servers/

[2020-09-01 15:51] nsingh2018 commented on #460
https://user-images.githubusercontent.com/6329567/90389397-20a3fe00-e0a7-11ea-8a8f-aef01eae3ba9.png

[2020-09-01 16:14] patkovskyi opened #887 "authState.isPending is true after logout"
## I'm submitting this issue for the package(s):
- [x] okta-react

## I'm submitting a:
- [x] Bug report

## Current behavior
authState.isPending is true after calling authService.logout()
<img width="345" alt="Screenshot 2020-09-01 at 18 49 56" src="https://user-images.githubusercontent.com/1560240/91876865-e5e4bd00-ec85-11ea-90d9-c069775f63e5.png">

This seems wrong to me since it breaks this of

[2020-09-01 16:23] shuowu commented on #886
@niskah-energies Looks like you are missing the `CallbackComponent` to parse tokens from the redirect URL, can you try the [okta angular sample](https://github.com/okta/samples-js-angular) to see if you still can reproduce the issue?

P.S. you may need to upgrade the version of `@okta/okta-angular` in the sample.

[2020-09-01 16:58] shuowu commented on #887
@patkovskyi `isPending` is set to true (the default state) by design when logout happens, as a success logout will do a hard reload to refresh the memory, then the client will re-evaluate the authState to set `isPending` to either true or false.

This may be caused by a logout failure, then the authState failed to be updated properly.

I think it would make sense to update `authState.error` if log

[2020-09-01 17:25] patkovskyi commented on #887
@shuowu thanks for taking a look!

I find the meaning of `isPending` quite confusing. My initial expectation was that it means: authentication flow is **currently running**. But there's no ongoing authentication flow after logout.

I encountered two cases when having `isPending` set to true by design _consistently_ breaks a React app:
1) [onbeforeunload](https://developer.mozilla.org/en-US/docs/We

[2020-09-01 17:34] swiftone commented on #887
@patkovskyi - Close, but not quite.  `isPending` means "We are currently figuring out what your authorization is".  This can be waiting on an async currently-running authorization flow, but it could also be waiting on an async retrieval of tokens (such as IndexedDB).

Authorization state is decided by checking tokens, tokens MAY be stored in an async way, so knowing if you are authorized is async

[2020-09-01 17:36] jakemager commented on #876
I don't really have a solution for this... All I know is when I installed storybook with `npx` into my application that was not bootstrapped with CRA this became a problem. I ended up recreating my application without storybook and everything worked great. I haven't yet tried to install storybook, I just went with another documentation package that is a little simpler.

[2020-09-01 17:36] #876 closed

[2020-09-01 17:42] patkovskyi commented on #887
@swiftone thanks for clarification!

So, is there anything I can do to make okta-react figure out the real authentication state after I use back button (more details in my previous message)?

[2020-09-01 17:44] shuowu commented on #887
@patkovskyi

The hard reload is not only to clear the memory, but also redirect to logout uri to clear user session from backend, then redirect user back based on the logoutRedirectUrl, which means this process should not be interrupted with `onbeforeunload` listener.

The sdk evaluated the authState based on the tokens state when the route changes in app. So I don't think any action is needed fro

[2020-09-01 17:54] fetters5 opened #888 "SecureRoute issue 3.0.5+ makes all routes require auth"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
Regardless of route the user is always redirected to login (was not happening before 3.0.5)
`

      <Switch>
        <Route path="/autho

[2020-09-01 18:18] patkovskyi commented on #887
@shuowu

When I click Back after a full successful logout, it brings me to /login route where isAuthenticated == false, isPending == true, tokens are undefined and nothing else happens.

[2020-09-01 18:25] Dark-Games commented on #885
This can answer if the error comes from my code or from the okta configuration of my account?

[2020-09-01 18:34] maneeshsahu commented on #227
Hi @swiftone , Do we have an ETA for the internal auth js instance access? The PR doesnt seem to be merged as yet https://github.com/okta/okta-oidc-js/pull/778

[2020-09-01 18:57] mfish0005 commented on #857
Awesome good news @aarongranick-okta.  From what I can gather it just means that bundle sizes could be larger if your Angular app has commonjs dependencies.  The doc that the warnings are linking to gives this as a TL;DR:

[2020-09-01 19:24] swiftone commented on #227
@maneeshsahu - Hmm, now that the TS support has been released there should be no blockers,  I'll check with the team.

[2020-09-01 20:02] shuowu commented on #885
@Dark-Games I don't think it's caused by your configuration, probably it comes from your code, which triggered multiple pkce login flow concurrently.

[2020-09-01 20:14] mraible commented on #761
@shuowu I tried adding the following in my React Native `Auth-test.js`:

[code]

Unfortunately, this causes things to fail:

[code]

The strange thing is that if I run tests locally, they pass (albeit with errors):

[code]

However, they [fail in CI](https://github.com/oktadeveloper/schematics/pull/400/checks?check_run_id=1058230074#step:7:1003). Actually, it says that pass, but it's reported as a

[2020-09-01 20:23] andredigenova commented on #861
Just an update -- I've tracked down my particular issue to problem on the client's network infrastructure that is causing the revoke request to become malformed. My issue is separate from the original poster's.

Sorry for the red herring!

[2020-09-01 20:25] shuowu commented on #460
@nsingh2018 I am not able to reproduce it locally with @okta/okta-signin-widget@3.9

If you can reach out to our support team at developers@okta.com you can share details of your configuration and they can help us find out what is happening.

[2020-09-01 20:42] shuowu commented on #888
@fetters5 I cannot reproduce the issue locally with [okta-react-sample](https://github.com/okta/samples-js-react)

If you can reach out to our support team at developers@okta.com you can share details of your configuration and they can help us find out what is happening.

[2020-09-01 21:09] shuowu commented on #761
@mraible the problem might come from https://github.com/oktadeveloper/schematics/blob/main/src/add-auth/react-native/tests/Auth-test.js#L125
I'm not very sure does it work to import/mock module that way. Also, the module name should be `@okta/okta-react-native` instead of `react-native`.

[2020-09-01 21:15] mraible commented on #761
@I tried changing to `@okta/okta-react-native` and this results in:

[code]

My `setupJest.js` is designed to mock out the Okta React Native SDK.

[code]

[2020-09-01 21:57] fetters5 commented on #888
@shuowu I used the sample you linked and as soon as I update @okta/okta-react to 3.05 or 3.06 it redirects to the login page on app start if I am not authenticated. Works as intended in 3.0.4 but this particular app needs the new features introduced in 3.0.5

[2020-09-01 23:35] shuowu commented on #888
I am still not able to repro the issue. Also, it's expected to be redirect back to login if the app start from a protected route.

[2020-09-02 00:13] fetters5 commented on #888
Ok, I was using the code from  https://github.com/okta/samples-js-react/tree/master/okta-hosted-login.
The only changes I made to that repo is to bump the version and target my dev okta instance

I will send an email to the address above.  Thank you.

[2020-09-02 06:08] sarath-sasikumar opened #889 "Lifecycle Refresh fail causes infinite loop and browser freeze"
I am using the lifecycle refresh API using `authClient.session.refresh()` function. However, when the API fails, in certain times, it causes the browser to freeze.

## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe

[2020-09-02 10:27] patkovskyi commented on #887
Here's a video repro for the Back button issue: https://www.dropbox.com/s/t6xrm5adozxpswp/Screen%20Recording%202020-09-01%20at%2021.00.03.mov

[2020-09-02 11:33] Dark-Games commented on #885
@shuowu I will try to send to you the code that i'm using because i searching for what was the cause but didn't found nothing wrong. If you find something wrong with the code i appreciate!

### App.js
[code]

### routes.js

[code]

### auth_okta.js
[code]

### app_bar.js
[code]

[2020-09-02 12:53] Dark-Games commented on #885
Maybe i discovered the error, when i add a button to the authService.login() the website start working again or with a wait function.

But exist someway to do that without use a button or a wait function?
Because my application just can used by authenticated persons and i need to call the function automatically

[2020-09-02 13:02] DavidLozzi commented on #322
@shuowu i see it was merged, yay! What's the typical turn around time for a release?

[2020-09-02 13:55] jraadt commented on #227
@swiftone - That would be incredible to get this released!

[2020-09-02 14:55] shuowu commented on #322
@DavidLozzi Version 3.0.6 is available on npm now.

[2020-09-02 15:10] shuowu commented on #885
@Dark-Games Exactly. Looks like you introduced `auth_okta.js` to evaluate isAuthenticated based on only accessToken, but the login behavior is duplicated with the one from `SecureRoute`, which triggers the protection logic.

I would suggest to only keep one approach to handle app authState, the way from `react-sdk` to use `<Security>` and `<SecureRoute>` or your `auth_okta.js`, but not both togeth

[2020-09-02 16:16] bikas-kumar opened #890 "Does this library reach to the OKTA online to verify the token??"
Does this library reach to the OKTA online to verify the token??

[2020-09-02 16:24] shuowu commented on #889
@sarath-sasikumar The `authClient.session.refresh` api is barely calling the session refresh api (https://github.com/okta/okta-auth-js/blob/master/lib/session.ts#L58). And a `404` response means the session you were trying to refresh is not valid (https://developer.okta.com/docs/reference/api/sessions/#refresh-session).

I suspect there is some UI logic that has been triggered when the session exp

[2020-09-02 16:29] shuowu commented on #890
@bikas-kumar You will need to use the [/introspect endpoint](https://developer.okta.com/docs/reference/api/oidc/#introspect) if you want to validate a token from OKTA server.

[2020-09-02 18:11] shuowu commented on #887
@patkovskyi Thanks for the video, I am able to reproduce the issue locally now.

Internal Ref: OKTA-327283

[2020-09-02 19:02] DavidLozzi commented on #322
@shuowu @swiftone currently we can't recreate this issue in our oktapreview pre-prod environment. Our security team is comparing the two environments, anything we should be looking into why? We want to recreate the issue in pre-prod prior to deploying this release.

[2020-09-02 19:18] shuowu commented on #322
@DavidLozzi  The fix in 3.0.6 changed to use `sessionStorage` instead of `localStorage` for `referrerRoute` data (redirect user back to previous route before login). As `sessionStorage` only keep the data tab specific, I don't see any potential issue with that.

[2020-09-02 19:26] patkovskyi commented on #887
@shuowu

I was unable to reproduce this issue on `samples-js-react` custom-login, even after I changed okta-react version from 3.0.0 to 3.0.4. I'm curious how you reproduced it, maybe it points to some difference between my code and the sample which triggers this issue.

Meanwhile, I think I found a dirty workaround: adding `authState.isAuthenticated === null` condition fixes the problem from my r

[2020-09-02 19:28] shuowu commented on #887
@patkovskyi go to login page, then click back button directly without login.

[2020-09-02 19:29] DavidLozzi commented on #322
@shuowu i guess the question is why would this work in oktapreview and not in prod? Is there anything environmentally that you're aware of on how oktapreview works, that okta prod isn't doing? Or visa versa? We can't recreate the tabbing problem in oktapreview and trying to so we can know if this fix will help.

[2020-09-02 19:31] ggentzel opened #891 "Okta Vue authorization: login redirect without code parameter"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native
- [X] okta-vue

## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
There is a bug during the authentication flow where the user is redirected to the configured login redirect without the co

[2020-09-02 19:56] shuowu commented on #322
@DavidLozzi I am not aware of any environmental difference may cause this issue.
@swiftone Any thoughts?

[2020-09-02 20:00] aarongranick-okta commented on #322
@DavidLozzi It may be related to the version of the signin widget. https://github.com/okta/okta-signin-widget/pull/1390 brought in the latest version of `okta-auth-js` which should now use sessionStorage by default. This change was merged 9 days ago so probably only exists in the latest version of the signin-widget.

[2020-09-02 20:40] chrismllr commented on #460
@shuowu We were able to successfully add Sign In Rules thanks to your pointers above -- but we are still seeing the issue after logging in and using the application for around 2ish hours. I was able to see two successful token renewals, and then saw this error.

I know the default TTL for an Okta Token is 2h, but we also have an unlimited refresh token. Could there be something else like this at p

[2020-09-02 21:00] shuowu commented on #460
@chrismllr In the current version of `auth-js`, the token renew process is via start a login redirect in hidden iframe then message the new tokens to the SDK (not refresh token). Also, it's fine to see the error in the console, as it just means the renewal process failed because of the expired session. Then, it's about how you want to handle the app when the okta session is expired.

The default b

[2020-09-02 22:08] shuowu commented on #891
@ggentzel Thanks for reporting the issue!
I do see this issue one time when use @okta/okta-vue@2.0.0, but cannot consistently reproduce it. I also tried in the latest version 2.1.1, which looks stable to me. Can you try the latest version to see if you still can reproduce it?
Also, can you share the error log if you see the issue again? Thanks!

[2020-09-02 23:16] CristianoYL opened #892 "accessToken refresh error using default setup"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I'm following the [react okta tutorial](https://developer.okta.com/docs/guides/sign-into-spa/react/before-you-begin/) to integrate Okta

[2020-09-03 00:18] montyJordanIII commented on #857
@aarongranick-okta   "We are planning on converting configuration-validation to typescript in the near future. This should take care of some of these warnings. The SIW will be a longer term project."

What kind of time frame are we looking at here?
Are there any repercussions of this besides bundle size?

[2020-09-03 09:14] bryan1495 commented on #322
We have the same issue happening with the @okta/okta-angular package.
@shuowu any chance of getting this same fix applied there?

[2020-09-03 09:23] bikas-kumar commented on #890
@shuowu This library is taking almost 900 - 1100 ms for token varification,
Is there any way to reduce this time?

[2020-09-03 13:19] mickeyhead7 opened #894 "Infinite token request loop using auto-renew and manually set clock"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [x] Feature request
- [ ] Other (Describe below)

## Current behavior

This is a cross between a bug and feature request.

We have a situation where some of our end-users seem to be manually setting their sy

[2020-09-03 14:38] shuowu commented on #894
@mickeyhead7 Thanks for reporting the issue!

Internal Ref: OKTA-327536

[2020-09-03 14:51] shuowu commented on #322
@bryan1495 `@okta/okta-angular` has switched to use `sessionStorage` since v2.0.0. Can you try to upgrade to the latest version and see if the issue still exists?

[2020-09-03 14:58] shuowu commented on #890
@bikas-kumar it calling [crypto api](https://developer.mozilla.org/en-US/docs/Web/API/Crypto/subtle) for security purpose, which as you see is a pretty heavy process.

[2020-09-03 15:30] shuowu commented on #892
@CristianoYL The SDK by default thinks the app `isAuthenticated` as long as one of the tokens (accessToken or idToken) is valid. In your app, it seems like your accessToken has expired and failed to be renewed due to the session also expired, but the idToken is still valid in the storage.

You can use the sample code for the `isAuthenticated` callback to evaluate the authState when both tokens are

[2020-09-03 16:40] bryan1495 commented on #322
@shuowu I'm on `@okta/okta-angular@2.1.0`, and that's pulling in `@okta/okta-auth-js@3.2.3`, which I believe are the latest?

[2020-09-03 17:08] niskah-energies commented on #886
Hi @shuowu, thank you for your reply. I'm using OktaAuthComponent, everything works before I update package.

When I'm trying to call `/login` route, I just have a blank page with no errors, before package update it redirects to Okta portal, but now there is no redirection.
My route file:
[code]

[2020-09-03 17:47] CristianoYL commented on #892
Hi @shuowu, thanks for your reply. I understand the logic behind determining what `isAuthenticated` means.

My main concern is that following the [tutorial](https://developer.okta.com/docs/guides/sign-into-spa/react/before-you-begin/), the new user would encounter the same issue as I did and it is not ideal.

There seems to be an underlying issue that fails to refresh the access token/id token usi

[2020-09-03 17:52] shuowu commented on #892
@CristianoYL That's definitely good suggestions! They are actually on our roadmap to change the default `isAuthenticated` behavior and update the tutorial accordingly. It just takes time to get there.

[2020-09-03 20:27] shuowu commented on #322
@bryan1495 you are right, the issue looks like still exist with that storage change for `referrerRoute`.

Internal Ref: OKTA-327716

[2020-09-03 20:37] shuowu commented on #886
@niskah-energies By glancing at the code, I don't see the cause of the issue.

Some suggestions:
1. if you are developing a SPA app, you probably don't need `offline_access` in scopes
2. you probably can take a closer look at `HttpInterceptor `
3. blank page with no errors probably means there is an error but is being caught and suppressed by angular.

If you can reach out to our support team at d

[2020-09-03 20:40] sdunnin commented on #864
I'm not using Ionic but am having a similar issue. With an onAuthRequired function added into my Okta Config I am seeing  the second parameter passed to that callback function being undefined just as mraible did.

I upgraded the okta-angular package in my project from 1.4 to 2.2 just to make sure something hadn't been fixed in a newer version.

[2020-09-03 20:53] shuowu commented on #864
@sdunnin Does this comment help? https://github.com/okta/okta-oidc-js/issues/864#issuecomment-675174729

[2020-09-04 02:15] sdunnin commented on #864
@shuowu No it does not. Doesn't matter what you call the 2nd parameter (router vs injector) it is still undefined when the function is called.

[2020-09-04 13:28] JWilliamsGH commented on #862
@shuowu Was this resolved with the latest update or is this still the recommended workaround?

[2020-09-04 14:32] shuowu commented on #862
@JWilliamsGH The default behavior has been removed in the latest release. As the workaround is just to override the default behavior, you can safely remove it now (keep it in code with no touch is also fine).

[2020-09-04 14:36] JWilliamsGH commented on #862
@shuowu Thanks for that. We're experiencing a similar issue on the latest release. I was hunting around for possible solutions and just wanted to check if this was still a possible solution.

[2020-09-04 19:18] shuowu commented on #864
@sdunnin I tried the latest version locally, looks like the second parameter is there. Also, based on the search result https://github.com/okta/okta-oidc-js/search?q=onAuthRequired+path%3Apackages%2Fokta-angular%2Fsrc&type=Code, all usages have the 2nd parameter properly passed.

I saw it appears in some sample code as `onAuthRequired: ({oktaAuth, router}) ...`, which should be `onAuthRequired(okt

[2020-09-06 15:44] myspivey commented on #804
Still getting issues in this space it seems. I am curious if in the short term there are at least ways to capture some of these issues rather than chucking errors? We get a fair amount of reporting to Sentry and locally with this issue that creates a lot of noise that seems to not be actionable yet. Stuff like this.
![image](https://user-images.githubusercontent.com/2472925/92329575-77a54f00-f025-

[2020-09-07 08:25] AndreyZSneg opened #898 "React LoginCallback Component: "AuthSdkError: Could not load PKCE codeVerifier from storage. This may indicate the auth flow has already completed or multiple auth flows are executing concurrently."
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Currently our react application is set up to immediately redirect the user to a protected route (the main app page), which redirects the

[2020-09-07 13:03] berrybell commented on #861
Currently experiencing this in my application. On logout, I get the CORS error and the following error in my console:
[code]

[2020-09-08 16:15] laura-rodriguez commented on #322
@Shyamsj I transferred your issue to a private repo, and unfortunately, I cannot transfer it to public one now.

Please, see this issue which seems similar to the one you reported. This is the right repo to ask questions about the Angular package.

[2020-09-08 16:26] TheFuzzard commented on #888
@shuowu just did a quick test with the root path, which is under the _Home_ component and with 3.0.6 it no longer displays the page without being authenticated, which was not happening on previous versions

[2020-09-08 16:37] shuowu commented on #888
@TheFuzzard @fetters5 It looks like I was misconfigured my local env somehow, I can repro the issue now.

Internal Ref: OKTA-328349

[2020-09-08 17:19] peterhriser commented on #686
is there any update on this? I saw there was a PR out that claimed to remediate this issue from 2019 that was never reviewed.

https://github.com/okta/okta-oidc-js/pull/498

At first glance this seems ok!

[2020-09-08 17:33] shuowu commented on #888
The issue is without wrapping routes inside a `<Switch>` component, React will try to render all SecureRoutes, then trigger the `useEffect` callback to login the user.

A workaround would be to always wrap routes inside a `<Switch>` component.

[2020-09-08 19:02] fetters5 commented on #888
Hmm,  that does not seems to be the case for me.  On my project they are wrapped in a switch comp.

[2020-09-08 19:32] shuowu commented on #888
@fetters5 Can you share the structure of your routes? I suspect you put `<SecureRoute>` at the top, move them to the bottom of the `<Switch>` block may fix the issue.

[2020-09-08 20:46] aarongranick-okta commented on #686
@peterhriser I will take a look and see if we can move this PR forward

[2020-09-08 21:32] aarongranick-okta commented on #898
@AndreyZSneg The most common cause of this error is multiple callback components loaded on a single request or multiple loads of the callback route. We recommend wrapping your routes in the `<Switch>` component and setting the `exact` keyword on your callback route. It may be possible that the callback is being loaded twice because no URI is being set before the redirect. Our `<SecureRoute>` compo

[2020-09-08 21:56] sdunnin commented on #864
Here are some code snippets and a screen-shot of console.log statements

[code]

**okta-config**
[code]
After calling `OktaAuthService.login()` from elsewhere in the code I get the following log messages:

![image](https://user-images.githubusercontent.com/1950736/92531376-c274c180-f1f3-11ea-806d-e01b3b4997bd.png)

[2020-09-08 22:08] aarongranick-okta commented on #860
@Savahn The page loaded in the iframe (`/authorize`) will load HTML which should communicate back to the SDK running in your app. The timeout error indicates the HTML may not have loaded correctly. Is it possible this page is being passed through a proxy which may be modifying its contents or headers?

Load the page with the network inspector running and view the contents of the `/authorize` endpo

[2020-09-08 22:35] aarongranick-okta commented on #804
@myspivey This could be caused by the `/callback` route loaded twice. The PKCE code is one-time use and is deleted after it is used. A second call to `/callback` would produce an error like this. In React this can happen based on route config. We recommend using the `<Switch>` component and setting the `exact` keyword on the callback route. Another possibility is multiple concurrent auth flows, wh

[2020-09-08 22:45] aarongranick-okta commented on #864
@sdunnin See @shuowu comment: https://github.com/okta/okta-oidc-js/issues/864#issuecomment-687334054

`onAuthRequired` takes 2 arguments. The first agument is the instance of the Okta Auth service for Angular. The second argument is the injector which you can use to get any other object in the system.

[2020-09-09 07:27] jhroemer opened #901 "Angular 8 app id token autorenew issue"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [X ] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

## Expected behavior

We have two clients that are using id tokens for authentication - one is a create react app and one is an angula

[2020-09-09 09:57] nick-jones commented on #894
![out](https://user-images.githubusercontent.com/350792/92583348-1c27cb00-f28a-11ea-8187-8e3dca6188b1.gif)

The above is how this looks in Chrome DevTools network tab when this occurs. Just one user with their clock set ahead is sufficient to trigger rate limit warnings for an Enterprise org. 3+ users is sufficient to trigger a rate limit violation and prevent other users from logging in. With a l

[2020-09-09 11:02] d12santosh opened #902 "authservice.redirect is not updating auth state causing application to always redirect to login page"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Auth service is not updating the authstate with authentication information, causing app to redirect to login page all the time

## Expec

[2020-09-09 12:41] ashokraghu14 commented on #885
@Dark-Games Could you please explain what what the issue exactly, because I'm also getting the same issue when I clear my cache. Sometimes it works.

[2020-09-09 13:04] sdunnin commented on #864
Sorry, but still not seeing the point. I do not call onAuthRequired explicitly from my application code. It is called somewhere from within the okta-angular library and I have no control over that unless I am missing something. It doesn't matter if I look for an instance of router or an instance of injector when referenced the parameter is undefined.

[2020-09-09 14:09] sdunnin commented on #864
Sorry for the noise in this issue, I had bad Typescript declarations on the onAuthRequired paramaters. After correcting it is working as expected with Injector passed in for 2nd arg.

[2020-09-09 15:13] fetters5 commented on #888
I used the example at the top of the page, doesn't work regardless of switch or not for me.

[2020-09-09 15:44] aarongranick-okta commented on #864
@sdunnin Glad you were able to get it working! We will update the documentation to make it more clear.

[2020-09-09 16:32] jhroemer commented on #901
Found this one #842 and the third party cookie setting might actually be to blame. I'll update this when I know for certain if the issue is resolved.

[2020-09-09 20:54] aarongranick-okta commented on #888
@fetters5 Thanks for reporting this! I was able to reproduce this issue locally using the hosted login sample. We will start working on a fix and/or workaround.

[2020-09-10 02:08] fetters5 commented on #888
Glad to hear you all can reproduce.  Thank you for the quick responses

[2020-09-10 09:29] muditjuneja opened #904 "Pass username for bypassing the Okta hosted page and redirect to Microsoft login."
I am trying to pass a param called "username" to the config to avoid having an Okta hosted login screen when I initiate the authorize request. What I want is for a user to be redirected to the Microsoft login screen after I initiate the login request. I wish to bypass Okta screen where user have to enter their email id and then he redirects to the Microsoft login page.

## I'm submitting this issu

[2020-09-10 17:13] aarongranick-okta commented on #904
@muditjuneja It sounds like you are trying to login using Microsoft as an IDP provider. This guide may be able to help you set it up: https://developer.okta.com/docs/guides/add-an-external-idp/microsoft/before-you-begin/
You will need to pass the IDP provider ID as an option as described here: https://github.com/okta/okta-auth-js#token

[2020-09-10 17:43] scott-joe commented on #846
I ran into this issue because our PWA initializes a bunch of sagas while bootstrapping, including an identity saga calls an `auntClient` that includes this library. When that's all being spun up in node (ts-node) during our unit tests, it fails. I've moved back to `3.0.2` for now, but would prefer to continue to receive updates.

[2020-09-10 17:52] aarongranick-okta commented on #846
@scott-joe `@okta/okta-auth-js` is an isomorphic module, it includes implementation for both server and browser clients. The error you are running into probably means that the server code is being used. `okta-react` is only designed to work with the browser code. When building with webpack, the "browser" entry will be selected automatically: https://github.com/okta/okta-auth-js/blob/master/package

[2020-09-10 22:38] aarongranick-okta commented on #888
@fetters5 We have pushed a new version `@okta/okta-react@3.0.7` It **should** fix the issue you are seeing.

[2020-09-11 16:08] fetters5 commented on #888
Did a quick test and it seems to have fixed my issues, now only those routes that use <SecureRoute/> force authentication, thanks!

[2020-09-13 07:11] ranjeethmd commented on #827
@swiftone Do we have any updates on this ?

[2020-09-14 06:38] AndreyZSneg commented on #898
Hello @aarongranick-okta. Thanks for your reply. Proposed fix with `<Switch>`, `exact` and debugging did not solve our issue. Some code samples:
`
const authService = new AuthService({
  issuer: 'ourIssuerLink',
  clientId: 'ourClientId',
  redirectUri: window.location.origin + '/implicit/callback',
  scope: ['email', 'profile', 'openid'],
  pkce: true,
});

const TestApp = () => (
  <Security aut

[2020-09-14 14:52] DavidLozzi opened #909 "Store tokens in a shared domain cookie"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [x] Other (Describe below)

## Current behavior

We are widening our program and now including a few different web apps in our solution. We want to store the Okta token in the cookie, b

[2020-09-14 15:54] nickolasfisher opened #910 "Using okta-react with reach router throws error Module not found: Can't resolve react-router-dom"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ x ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [ x ] Other (Describe below)

## Current behavior
a compiler error `module not found: can't resolve 'react-router-dom'` is thrown when attempting to use the `Security` component

## E

[2020-09-14 16:26] chrismllr commented on #892
What causes a session to "expire" has eluded me, I cannot quite nail that down, even after reading documentation pertaining to Session Cookies and Session tokens.

From what it looks like, a session should not expire unless user quits their browser? Although, I've tried leaving my browser open overnight only to realize the renewal process fails with the above error.

We have all of our Prompt for

[2020-09-14 16:57] CristianoYL commented on #892
@chrismllr That's what I've been struggling too. As mentioned in my temporary solution, customizing the `isAuthenticated` can kind of avoid the error. But it really isn't solving the problem. The tokens are not auto-refreshing as it's supposed to, the session is somewhat a mystery.

[2020-09-15 13:19] patelchetan79 opened #911 "PKCE true is not working when using Okta anugular SDK for android and IOS"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ X] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [ X] Other (Describe below)

## Current behavior

We are using @okta/okta-angular library to authenticate with OKTA. Our web site is working fine with PKCE true. When we use the same c

[2020-09-15 16:38] askouras commented on #892
@chrismllr In order to log into your OIDC application, a user needs to log into Okta, which will result in a session cookie being set in their browser. When you have an active Okta session, you can request tokens for an OIDC application, which includes the ability to renew tokens, throughout the life of the Okta session.

The scenario described implies that both the user's tokens and their Okta se

[2020-09-15 18:34] chrismllr commented on #892
@askouras That link is helpful, I had not seen this rule prior. We will see if this is something we can configure, and will report back.

[2020-09-15 20:27] mraible commented on #864
Fixed by https://github.com/okta/okta-developer-docs/pull/1439.

[2020-09-15 20:27] #864 closed

[2020-09-16 15:42] jraadt commented on #227
@swiftone - It looks like 3.0 is released with this feature now. I can't wait to start using it. When will 3.0 be available on NPM?

[2020-09-16 15:46] chrismllr commented on #892
@askouras Great, so this looks to be a valid configuration to get the desired results.

Unfortunately, our Okta instance supports many applications, and there is a global policy set to two hours, which we are unable to scope to only our applications.

Does that sound correct? Should we be able to assign a Sign On policy to a specific authorization server or application?

Alternatively, is there a

[2020-09-16 16:21] kuehlein commented on #796
@swiftone thanks for following up. Unfortunately we have made significant changes in our app that would make testing this very difficult. Our okta authentication logic has been abstracted into our component library. I'll make sure that we've updated to the latest version and keep my eyes peeled. Thanks!

[2020-09-16 18:59] aarongranick-okta commented on #227
@maneeshsahu @jraadt Until the new version of the library is published on NPM, as a workaround does it work to do `(authService as any)._oktaAuth` ?

[2020-09-17 07:27] #901 closed

[2020-09-17 19:38] ilyakam commented on #846
I had a similar issue on a non-SSR React SPA with previously-passing tests in Jest while using the [Parcel](https://parceljs.org) bundler. The error surfaced after bumping `@okta/okta-react` from `3.0.2` to `3.0.7`. I was able to resolve it by also bumping `@okta/okta-auth-js`: from `3.1.4` to `4.0.0`. No other changes to Parcel or Jest were necessary.

Please consider adding a [peer dependency](h

[2020-09-17 22:48] sethen opened #913 "withOktaAuth not injecting any props in TypeScript component"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Using `withOktaAuth` with my TypeScript component does not actually add anything to the props.  I don't know if this is because I am u

[2020-09-18 06:19] sseidel16 commented on #861
It seems indeed a regression. I have a repository working fine with 3.1.4 and another failing with 3.2.3.

[2020-09-18 16:57] swiftone commented on #861
@sseidel16 - We remain unable to duplicate this issue.  Can you (using the network dev tool in your browser):

- confirm the Auth header on the revoke request is correct?  (It should hold a base64 encoding of your client id)
- Confirm that you aren't getting any more detail from the error response body

You can react out to our support team at developers@okta.com if you want to be able to share de

[2020-09-18 17:10] swiftone commented on #913
@sethen - Thanks for the report

I believe the issue is that you're using okta-auth-js 4.x - okta-react hasn't updated to that yet.

Side note: okta-auth-js 4.x actually pulls a lot of features from okta-react into itself

okta-react 3.0.7 makes use of okta-auth-js 3.x only - can you see if that resolves your issue?

[2020-09-18 17:19] nryoung commented on #861
@swiftone just to let you know that we were also seeing exactly what @sseidel16 was seeing. We upgrade to 3.2.3 and see the CORS error without changing our implementation in any way.

However, this morning, without making any changes, I am now able to successfully call `authService.logout()` with no issues, so I am wondering if something changed on the Okta side of things?

[2020-09-18 17:29] sseidel16 commented on #861
@swiftone - The POST request does contain the correct auth header, but that never actually gets fired, because the preflight OPTIONS request (this request does not include the auth header since no preflight requests include it) does not come back with the proper response headers. The attached screenshot is the OPTIONS request, and the POST request never even fires off. @nryoung mine does not seem

[2020-09-18 17:40] sseidel16 commented on #861
The older version seems to be calling only GET /v1/logout, and never posting to /v1/revoke. Maybe that will help diagnose the issue?

[2020-09-18 18:36] sethen commented on #913
@swiftone Thanks for getting back to me so quickly, appreciate that.

I changed my dependencies to the following:

[code]

`this.props.authService` is still `undefined` when trying to access it using `withOktaAuth`

[2020-09-18 18:41] swiftone commented on #888
Closing as okta-react 3.0.7 appears to have resolved the issue

[2020-09-18 18:41] #888 closed

[2020-09-18 18:44] swiftone commented on #913
@sethen -

Huh.  Is this Okta component used "inside" (as a descendant of) `<Security>`?  That's the component that instantiates `authService`.

[2020-09-18 18:49] sethen commented on #913
@swiftone

Ah, I see.  No we are not and the reason being is because the way the app is currently set up using a overarching `Security` route isn't exactly feasible for us.  If I need that route to make the code work, then I will have to just use the JavaScript SDK instead and try and figure out that other issue I logged.

[2020-09-18 18:49] #913 closed

[2020-09-18 19:09] swiftone commented on #913
@sethen - Take a peek at the `<Security>` code (https://github.com/okta/okta-oidc-js/blob/master/packages/okta-react/src/Security.js)

It's is fairly simple (it is just a Provider for the authService context) so you may be able to use AuthService without Security, you'll just have to manage triggering the initial setting of state and have a provider to pass your AuthService along.

That should be

[2020-09-18 19:28] sethen commented on #913
It's fine, I should be able to use the JS SDK if we can get past that piece I logged.  It's actually better for me as well as I can have more control over the pieces.

[2020-09-18 19:40] swiftone commented on #910
@nickolasfisher - Thanks for the report.  Your usage looks correct, we'll take a look and see why this is happening. (Superficially I don't see any use of react-router in Security, so it may be a bundling issue)

[2020-09-18 19:57] swiftone commented on #909
@DavidLozzi - Thanks for the report.  This feels more like the scope of okta-auth-js (which is used by okta-react), but I'll leave this ticket here until we can dig a little deeper and make sure our suggestion works.

[2020-09-21 02:56] d12santosh opened #915 "Redirected to implicit callback page and displaying blank screen"
Related Issue
[902](https://github.com/okta/okta-oidc-js/issues/902)

Pull Request
[903](https://github.com/okta/okta-oidc-js/pull/903)

## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

[2020-09-21 14:11] DavidLozzi commented on #909
@swiftone do I need to do anything to get that team's attention?

[2020-09-21 14:23] shuowu commented on #909
@DavidLozzi Store cross-domain cookies is not in our support scope right now. But you can always provide a [custom storage provider](https://github.com/okta/okta-auth-js#storage) with a custom implementation instead of an option string (like `cookie`).

For the implementation, you can follow the current cookie storage implementation with providing extra [domain option](https://www.npmjs.com/packag

[2020-09-21 16:04] shuowu commented on #911
@patelchetan79 The cause might be

From https://developer.okta.com/blog/2020/09/21/ionic-apple-google-signin#what-about-oktas-angular-sdk-and-sign-in-widget

[2020-09-21 16:18] DavidLozzi commented on #909
That custom storage provider looks like exactly what we'd need! Thank you!

[2020-09-21 17:30] aarongranick-okta commented on #265
I have tested this in current versions of both `okta-angular` and `okta-react`. In this case, the following error will be displayed on the callback page:

[code]

To customize this behavior we recommend copying the `LoginCallback` component to your own source tree where it can be modified.

[2020-09-21 17:30] #265 closed

[2020-09-21 17:33] shuowu commented on #915
@d12santosh I think the issue may come from
[code]
You may want:
1. put `<Route path="/implicit/callback" component={LoginCallback} />` before the notFound route to prevent the notFound route from matching before the LoginCallback.
2. change `<Route path="*" to={NotFound} />` to `<Route path="*" render={NotFound} />`, looks like the Route component accepts `render` or `path`, but no `path` props.

[2020-09-21 17:55] restfulhead commented on #460
This is not the case for `"@okta/okta-angular": "~2.2.0"` using `"@okta/okta-auth-js": "^3.2.3"`, or at least it's not working for us. After seeing the error in the log, there is no redirect to the login page (leaving our app broken after the session times out).  Maybe that's because `onSessionExpired` was recently removed (see [Changelog](https://github.com/okta/okta-oidc-js/blob/master/packages/

[2020-09-21 18:18] chrismllr commented on #460
@shuowu We are using v4.0 of the SDK. FWIW, the auth-js library appears to be working as expected. Our frustration, similar to @restfulhead 's, is the 2 hour session expiration.

It could be better illustrated in the documentation, but when new accessTokens are minted, a Session Token/ Cookie (internal to auth-js) is also minted, which by default, expires after 2h of inactivity.

The big disconnec

[2020-09-21 19:11] DavidLozzi commented on #909
@shuowu A new problem has come up, it appears that when I change the storage option, I am now not getting the access token from Okta. If I remove this, I get it in localStorage, add it, I only get idToken in the cookie...

Went from
[code]

to

[code]

[2020-09-21 19:21] shuowu commented on #909
@DavidLozzi Right, the custom storage provider is a replacement of the default implementation. From the issue, looks like you are storing tokens in cookies, if you want tokens be available in both cookies and localStorage, you can add store to localStorage logic in the custom storage provider.

[2020-09-21 19:24] DavidLozzi commented on #909
Sorry for the confusion @shuowu . I don't want it in localStorage, just the cookie. When I remove my config, it uses localStorage. Also, when i try `storage: 'cookie'` it works as expected.

When I use a custom storage provider, it DOES save the `idToken` but DOES NOT save the `accessToken`, i don't even see `accessToken` being set.

[2020-09-21 19:32] shuowu commented on #909
Cookie has it's size limit, it might because that the accessToken is too big to be stored in cookie. One thing you can try is to `delete token.value` before saving it into cookie.
Also, here is the default cookie storage implementation https://github.com/okta/okta-auth-js/blob/master/lib/TokenManager.ts#L230

[2020-09-21 19:33] DavidLozzi commented on #909
Thanks @shuowu , that makes sense, thanks for the code, I'll check it out

[2020-09-21 19:38] DavidLozzi commented on #909
@shuowu sorry for the firing of posts. I don't get `accessToken` in the `setItem` function to be able to parse it out.

_from above_
[code]
the `val` that is being provided to this function does not contain `accessToken`, so I can't split `idToken` and `accessToken` into separate cookies.

[2020-09-21 19:43] DavidLozzi commented on #909
@shuowu I stand corrected, I added the code from your example and I do see `okta-token-storage_accessToken` as a cookie. I think I misunderstood how the storage provider works. Adding the get piece now but it's looking promising.

[2020-09-21 19:51] DavidLozzi commented on #909
@shuowu Hope I'm not being too hasty, but it's working! Thank you! Closing for now.

[2020-09-21 21:15] shuowu commented on #460
@restfulhead
Currently `okta-angular` and `okta-vue` are doing [passive flow on token auto renew](https://github.com/okta/okta-oidc-js/issues/744#issuecomment-668247988).
The `AuthState` evaluation flow will be changed to `active` renew in the next major release, which means authJs will maintain a copy of up to date `AuthState`  in memory and update it when tokens are about to expire, then sync it

[2020-09-21 22:20] jraadt commented on #227
I'm pulling directly from Github for now to get 3.0. How long will it be until it's available on NPM?

[2020-09-22 05:01] d12santosh commented on #915
@shuowu

Thank you for suggestions, i am able to login now.

[2020-09-22 05:01] #915 closed

[2020-09-22 13:15] restfulhead commented on #460
@shuowu Thank you for the information. Will the `active` renew also renew the Okta session then? Or is there any other way to extend the 2 hours (without changing the global Okta setting or creating a separate org as @chrismllr mentioned)?

[2020-09-22 17:03] shuowu commented on #227
@jraadt This `okta-angular` v3.0 is still waiting on changes from `okta-auth-js`, we are actively working on it now, but may still need several weeks to get the new major version of `okta-angular` released on npm.

[2020-09-22 19:26] shuowu commented on #460
@restfulhead You can also leverage the [refresh-session endpoint](https://developer.okta.com/docs/reference/api/sessions/#refresh-session) to extend it, but you may need to implement some server-side logic for it.

[2020-09-22 21:58] sero323 commented on #887
Having the same issue. Any fixes in the works?

[2020-09-23 06:30] cartbeforehorse commented on #396
I stumbled across this post as a Vue developer trying to work out why I was getting an error in the browser console:

[code]
Developer documentation [here >>](https://developer.okta.com/blog/2018/01/31/build-secure-todo-app-vuejs-aspnetcore) suggests that a `v-on:click` authentication can be called directly from within the template.

[code]
Your solution of passing the call into a `method` and the

[2020-09-23 13:56] shuowu commented on #396
@cartbeforehorse As you noticed, the blog post you referred to is outdated. Please try guide/sample from https://developer.okta.com/code/vue/  instead.

[2020-09-23 15:07] cartbeforehorse commented on #396
Thanks for the reply.  But that's the link I directed you towards with the bug in it.

[2020-09-23 15:10] shuowu commented on #396
I see the link points to https://developer.okta.com/blog/2018/01/31/build-secure-todo-app-vuejs-aspnetcore, did I miss anything?

[2020-09-23 15:15] cartbeforehorse commented on #396
Your link is to a directory of resources.
One of the resources in that directory is the to-do app:

![image](https://user-images.githubusercontent.com/3742356/94032311-be31d200-fdb7-11ea-9ead-7f9f222cc795.png)

[2020-09-23 15:21] shuowu commented on #396
@cartbeforehorse Thanks for reporting the issue! We will get the guide fixed. Meanwhile, you can try sample [here](https://github.com/okta/samples-js-vue). This sample repo should be up to date.

Internal Ref: OKTA-331911

[2020-09-23 18:50] DavidLozzi commented on #909
@shuowu Sorry to reopen, but a very related issue. I am using the custom storage provider (code below) and it works great on localhost, with our 24hour token expiration. When we move the same to our Dev and QA environments, we get 2hour expiration. When we were using localStorage we were getting 24hr, but switching to custom storage provider gets us 2hrs, except for localhost, gets us 24hrs.

Thou

[2020-09-23 19:16] DavidLozzi commented on #909
To clarify, I am using the `expiresAt` value from the `accessToken` to determine when it expires, taking that value and creating a date, like `new Date(JSON.parse(getCookie('okta-token-storage_accessToken')).expiresAt * 1000)`

[2020-09-23 20:38] scott-joe commented on #846
We moved some things around, and now the Auth component isn't being kicked off by the init saga, but just to keep everything happy, we added this `moduleNameMapper` to make sure Jest was running in Browser mode and yeah, you get the point. Thanks for the support @aarongranick-okta!

[2020-09-23 21:06] shuowu commented on #909
@DavidLozzi From the code, I don't see issues. You probably can check if there is any special cookie rule has been set in your DEV/QA envs.
Also, this link may help: https://github.com/js-cookie/js-cookie/wiki/Frequently-Asked-Questions#how-to-make-the-cookie-expire-in-less-than-a-day

[2020-09-23 21:28] DavidLozzi commented on #909
@shuowu It appears to be something in our Okta config, as I reverted our code to 2 days ago and still get the 2hr expiration, no cookies being used. Sorry for the reopen, I thought the only thing that changed was my code, but alas, it appears that's not the case (I'm assuming). Thanks for the response!

[2020-09-23 21:28] #909 closed

[2020-09-24 06:00] keithgulbro commented on #560
@cah-kamal-balwani @ONeville @mraible

I was able to integrate Okta for iOS & Android even with the iOS 14 release which has recently seemed to mess a lot of projects up. Here's a link to the repository: [Nativescript oAuth2](https://github.com/alexziskind1/nativescript-oauth2)

Nativscript platform versions:
Android: 6.5.3
iOS 6.5.2

**NOTE:** Make sure you're not using the latest version of this

[2020-09-27 18:50] abodnar63 opened #921 "Security Component Bug"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I've noticed that the [Security](https://github.com/okta/okta-oidc-js/blob/master/packages/okta-react/src/Security.js) component creates

[2020-09-28 11:41] kellengreen opened #922 "<LoginCallback> returns "AuthSdkError: Unable to retrieve OAuth redirect params cookie""
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
Seemingly at random `<LoginCallback>` returns `AuthSdkError: Unable to retrieve OAuth redirect params cookie`. I would guess the failure

[2020-09-28 12:00] Joyeeta commented on #922
I am facing similar issue.
I am using "@okta/okta-signin-widget": "^3.8.2" and "@okta/okta-angular": "^2.0.0", which has a dependency "okta-auth-js": 3.2.4. I have specified storage as 'localStorage' while initializing "OktaAuth" ,
const athClient = new OktaAuth({
        url: 'XXX',
        redirectUri: redirectUri,
        responseMode: 'query',
        pkce: true,
        tokenManager: {

[2020-09-28 12:13] Joyeeta opened #923 "<LoginCallback> returns "AuthSdkError: Unable to retrieve OAuth redirect params storage""
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [X] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I am using "@okta/okta-signin-widget": "^3.8.2" and "@okta/okta-angular": "^2.0.0", which has a dependency "okta-auth-js": 3.2.4. The a

[2020-09-28 12:42] kellengreen commented on #922
From reading the similar issues reported, it would seem that this issue is effecting the Vue, Angular, and React libraries as well. (https://github.com/okta/okta-oidc-js/issues/870 https://github.com/okta/okta-oidc-js/issues/742 https://github.com/okta/okta-oidc-js/issues/736 https://github.com/okta/okta-oidc-js/issues/732 https://github.com/okta/okta-oidc-js/issues/714 https://github.com/okta/okt

[2020-09-29 00:28] aarongranick-okta commented on #923
@Joyeeta Thanks for the submission. We have identified a flaw in okta-auth-js@3.2.4 which we are fixing now.

[2020-09-29 00:31] aarongranick-okta commented on #921
@abodnar63 Thank you for submitting this issue and helpful information for reproducing the problem. We will investigate this issue and develop a fix. In the meantime, as a workaround, it may work to create an instance of the authService yourself and pass it to the `Security` component as described here: https://github.com/okta/okta-oidc-js/tree/master/packages/okta-react#alternate-configuration-us

[2020-09-29 14:57] zukoaang commented on #910
Hello, I'm having this issue as well.
Any idea when will this be fixed? Is there a way around it in the meantime?

[2020-09-29 17:26] aarongranick-okta commented on #923
@Joyeeta We have released version 3.2.5 which should correct this flaw

[2020-09-29 17:47] Joyeeta commented on #923
Thanks @aarongranick-okta

[2020-09-29 18:17] veswill3 opened #924 "Query parameter that contains `code=` will cause SecureRoute to render nothing"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

hard linking (deep link, using an anchor element) into the app with a query parameter that ends with `code=` seems to break the app and

[2020-09-29 21:12] aarongranick-okta commented on #924
Thanks for the submission. We are aware of this issue and are working on a fix. See comments here for a possible workaround: https://github.com/okta/okta-auth-js/issues/474#issuecomment-696268565 (the authClient is exposed as a property "_oktaAuth" in the okta-react sdk)

[2020-09-29 21:23] aarongranick-okta commented on #910
an internal issue was created to investigate: OKTA-333775

[2020-09-30 06:37] shweta-itilite opened #925 "using @okta/okta-react-native . In android app is not getting redirected back from okta login page. After Sign click on browser it stays there."
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [x] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Extra information about the use case/user story you a

[2020-09-30 14:38] dlauterbach commented on #804
I'm using React (with @okta/okta-react/3.0.7 and okta-auth-js/3.2.4) and was experiencing both issues:  `{"error":"invalid_grant","error_description":"PKCE verification failed."}` and `AuthSDKError: Could not load PKCE code verifier from storage.`  I, like @nickerzb, set my token to expire every 5 minutes to speed up debugging.  I would receive `AuthSDKError: Could not load PKCE code verifier from

[2020-09-30 15:29] TaylorNoelJordan commented on #265
@aarongranick-okta can you elaborate on what you mean by this?
`To customize this behavior we recommend copying the LoginCallback component to your own source tree where it can be modified.`

[2020-09-30 17:05] aarongranick-okta commented on #925
@shweta-itilite thanks for the submission. Are you able to see any messages in the browser console? https://developer.android.com/guide/webapps/debugging

[2020-09-30 17:11] aarongranick-okta commented on #804
@dlauterbach We are glad you were able to resolve your issue! okta-react has an internal dependency on okta-auth-js and even if your app depends on okta-auth-js, another copy is usually installed in `node_modules/okta-react/node_modules/@okta/okta-auth-js` It's likely that this copy needed to be updated, and a clean install will do that.

[2020-09-30 17:18] aarongranick-okta commented on #265
@TaylorNoelJordan The source for the callback component is here: https://github.com/okta/okta-oidc-js/blob/master/packages/okta-angular/src/okta/components/callback.component.ts  You can copy this file and place it in our own source tree. Then following these instructions: https://github.com/okta/okta-oidc-js/tree/master/packages/okta-angular#oktacallbackcomponent  import and use the component fro

[2020-09-30 17:26] veswill3 commented on #924
@aarongranick-okta Either I applied the workaround incorrectly, or the workaround does not seem to help. Any other ideas?

I had to get to the authClient with the hook. Here is the basic idea of how I tried to apply your suggestion:
[code]
and the new component:
[code]

also, If you would prefer, we can close this issue and continue the discussion in okta/okta-auth-js#474, just let me know.

[2020-09-30 17:35] aarongranick-okta commented on #924
@veswill3 The workaround looks correct. It's possible it may be running into a separate issue: https://github.com/okta/okta-oidc-js/issues/921 which may cause multiple instances of the "authService" to be created. Try creating the `AuthService` yourself up-front (and modifying `authService._oktaAuth.token.isLoginRedirect` as you are doing here), then pass this `authService` instance to the `Securi

[2020-09-30 17:55] veswill3 commented on #924
@aarongranick-okta Unfortunately going that route does not seem to help either. I do get an error immediately however:
[code]
Could it be related to my specific setup? Does it work for you if you try to implement the workaround in the example above?

[2020-09-30 18:18] aarongranick-okta commented on #924
@veswill3 The error is being thrown here: https://github.com/okta/okta-auth-js/blob/3.2/packages/okta-auth-js/lib/token.js#L550 I see that patching `token.isLoginRedirect` will not fix it because the method is being called on `oauthUtil`, which is not exposed in a way that is easy to modify. There are a couple other ways to get around this. Looking at the implementation of `isLoginRedirect`: https

[2020-09-30 18:30] shweta-itilite commented on #925
Thanks for responding. No, I cannot see any message in browser console. signInSuceess event is not triggered after successful signIn in android but same function is working n iOS.

[2020-09-30 18:32] shweta-itilite commented on #925
I have installed using yarn add @okta/okta-react-native. Did the configuration as per README.

[2020-09-30 18:39] shweta-itilite commented on #925
![Uploading Screenshot 2020-10-01 at 12.08.53 AM.png…]()

[2020-09-30 18:41] veswill3 commented on #924
like this?
[code]

This does seem to resolve our issue. I will experiment with our full application to make sure, and track the issue for a future resolution.
Thanks @aarongranick-okta!

[2020-09-30 18:45] aarongranick-okta commented on #924
@veswill3 Yes, exactly. I'm glad it is working for you! For a SPA application, there should be no negative effect of using the hash instead of the query.

[2020-10-01 02:59] robertjd commented on #925
Hi @shweta-itilite , can you compare your application to our sample applications, these are working examples of how to achieve login with react native: https://github.com/okta/samples-js-react-native

[2020-10-01 20:37] aarongranick-okta commented on #921
internal ref: OKTA-334529

[2020-10-01 20:39] aarongranick-okta commented on #922
@kellengreen There was a flaw in our 3.2.4 release of okta-auth-js. We have corrected the flaw and released a new version, 3.2.5. okta-auth-js is an internal dependency of okta-react. Reinstalling your node modules should fix this issue.

[2020-10-01 20:39] #923 closed

[2020-10-01 20:42] aarongranick-okta commented on #924
internal ref: OKTA-331632

related issue in okta-auth-js: https://github.com/okta/okta-auth-js/issues/474

[2020-10-01 20:54] kellengreen commented on #922
Thanks, I will update and report back on our findings.

[2020-10-02 08:50] trickreich commented on #685
Would also be interested in a solution.

[2020-10-02 18:06] aarongranick-okta commented on #685
@trickreich We are aware of flaws in the `openid-connect` module used by our Express SDK and are currently investigating a new solution. Unfortunately, at this time I don't have any precise estimates on when that new solution will be available, but it is at least a few months away.

Okta does implement OpenId Connect / OAuth 2.0 according to the spec, so it should be possible to build a solution u

[2020-10-02 19:20] shuowu commented on #921
@abodnar63 Generally, we suggest you wrap your `<App>` component inside the `<Security>` component, so the `<Security>` component does not implicitly create AuthService instance with `App Comp` state change.
Or, you can also try to explicitly provide the authService as suggested in https://github.com/okta/okta-oidc-js/issues/921#issuecomment-700354023

[2020-10-03 16:56] abodnar63 commented on #921
@shuowu, yes in this example I provided only a simple way to reproducing this issue.

In my project, it is not possible to wrap `<App>` component by `<Security>` because the Okta authentication flow is not on top of the application startup flow and it should first get the correct config for Okta. I fixed this issue by using `useMemo` hook for preventing multiple rendering of `<Security>` component

[2020-10-03 18:40] shweta-itilite commented on #925
Hi Robert, I have compared the application used it in the same way.Your sample application is working fine but cannot figure out why is is not working in my app.  I will listen the steps I have followed. It is redirecting me to okta page but not getting me back after login. Please help me if I am missing anything.
1) yarn add @okta/okta-react-native
2) added in android/build.gradle maven {

[2020-10-03 20:45] shweta-itilite commented on #925
Hi, The issue has been resolved. It was very small issue. I was using part of callback URL in Capital letter which was creating problem. Please do mention the same in the official document. Although It is small things but, fresher like me or anyone without experience may fail to observe this. Thanks.

[2020-10-05 07:28] trickreich commented on #685
Found following solution:

[code]

I've tested Okta for our company last week.
Sadly the documentation isn't up to date here: https://developer.okta.com/docs/guides/sign-into-web-app/nodeexpress/configure-packages/
Needed properties have changed.

[2020-10-05 13:09] AndreyZSneg commented on #898
Hi guys, any updates on this issue?

[2020-10-05 17:05] swiftone commented on #898
@AndreyZSneg - Thanks for the detailed debugging.  I'll check in with the team to see if we have any update.

[2020-10-05 21:36] swiftone commented on #898
@AndreyZSneg - Looks like there's a lot of changes happening with PKCE claims and the like, but nothing that yet solves the issue with older browsers you've outlined.

One workaround you can try is to bypass the redirect that is giving you the PKCE error.  You can see where this is done in some sample code here: https://github.com/okta/samples-js-react/pull/137

[2020-10-06 21:07] christopher-caldwell commented on #58
It's 2020 and this package is still not typed.

[2020-10-06 21:15] swiftone commented on #58
@christopher-caldwell - thanks for sharing.

Hopefully you'll be happy to notice that we have updated `okta-auth-js` (https://github.com/okta/okta-auth-js/releases/tag/okta-auth-js-4.0.0) to include typescript.

`okta-react` consumes `okta-auth-js` so that migration was an important step to convert `okta-react` and our other JS libraries to include typescript types, and those changes are on the wa

[2020-10-07 15:24] ahmet2mir commented on #861
Hello,

I'm getting this issue too using `okta-vue`, only on logout.

From console I only see a first POST /oauth2/v1/revoke attemp directly blocked without any http status code

plus

[code]

But just after a successful HTTP OPTIONS /oauth2/v1/revoke call in code 200.

[2020-10-07 15:24] hicaro commented on #753
@Derifgyn who did you update it to `none`? I tried using the [Update Application](https://developer.okta.com/docs/reference/api/apps/#update-application) endpoint and I got this error:

[code]

@swiftone is there a way to update this on the Admin console?

[2020-10-07 16:43] swiftone commented on #753
@hicaro - as an Okta user, this is decided when you initially pick the "type" of the application (Web/SPA/Native/etc).  I'm not aware of any way to change that choice on the console, only to create a new application, but you can contact our support team at developers@okta.com to see if they some options that aren't publicly available.

[2020-10-07 16:45] aarongranick-okta commented on #745
@albertogarza We've investigated this issue and are determining the best way to provide support for `--base-href` option without breaking existing implementations. Most likely, we will add full support in the next major version release.

In the meantime, your workaround of providing a custom callback component seems to work well. There are a few other details to be aware of:

- `setFromUri` is cal

[2020-10-07 16:50] swiftone commented on #861
@ahmet2mir - Thanks for the question, can you clarify a few parts for me:

Which browser?   usually "blocked" without a status code results from a browser trying multiple identical calls, in which case the browser interrupts the earlier call, but permits the final call to attempt.  Are you seeing multiple calls to /oauth2/v1/revoke?  If so, what is the result for each?

Are there any CORS headers

[2020-10-07 17:49] swiftone commented on #861
@ahmet2mir - one more follow-up: Are you using an Org auth server or a custom authorization server (/oauth2/default) as your issuer?  It may be that using an org auth server encounters this problem.

(Note the confusing name choice where a custom authorization server may be called "default")

[2020-10-07 17:52] hicaro commented on #753
@swiftone thank you! I believe that the set of apps I have were all created as Web instead of SPA. That explains why I cannot set it to `none`.

[2020-10-07 18:52] ahmet2mir commented on #861
Damn, I completly missed this part, thank you @swiftone very much for your quick answer, it works!

[2020-10-07 19:11] jasonrberk commented on #460
where is #460 referenced in the change log?  https://github.com/okta/okta-auth-js/blob/master/CHANGELOG.md

[2020-10-07 20:06] m-lehti commented on #706
@swiftone We're experiencing this issue as well in our app. We're using `@okta/okta-auth-js@3.2.5` and `@okta/okta-react@3.0.7` and have gotten this error when testing on an iPhone 6s Plus iOS 12.1 simulator and an iPad Air 2 iOS 12.4 simulator running in xTools operating the built in safari in regular and private modes.   

There is no `okta-pkce-storage` or `okta-token-storage` in sessionStorage

[2020-10-07 21:47] aarongranick-okta commented on #706
@m-lehti We believe that any issues with the OAuth redirect params cookie were fixed in 3.2.5. In fact, we have changed the error message so if the message still says "cookie" that indicates that an older version is being used. `okta-react` has an internal dependency on `okta-auth-js` so even if you have installed another version alongside it, it will use the version within its own node_modules fo

[2020-10-07 21:59] CristianoYL commented on #719
I'm still experiencing this issue in v3.0.4. If not assigned to the application, the user ends up in a blank page with route `/implicit/callback`. Passing a custom component as `errorComponent` to **LoginCallback** doesn't work either.

[2020-10-07 22:02] aarongranick-okta commented on #657
@dineshpvs We have released a new version of `okta-angular` (2.2.1) which is built using Angular 7. This should make it compatible with Angular 7 apps.

[2020-10-07 22:23] swiftone opened #926 "okta-react LoginCallback not displaying error if user not assigned application"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
(Note - this is copied from https://github.com/okta/okta-oidc-js/issues/719#issuecomment-705216112 )

-  In the case of: OAuthError (eg.

[2020-10-07 22:24] swiftone commented on #926
Created this issue off of https://github.com/okta/okta-oidc-js/issues/719#issuecomment-705216112 to investigate.

[2020-10-07 22:25] swiftone commented on #719
@CristianoYL - thanks for the report.  I created a new issue to follow-up on this, as the cause may be different than was originally reported here: #926

[2020-10-07 22:26] swiftone commented on #926
@CristianoYL - I'll take a stab at recreating in the near future.
- Can you give an example of how you attempted to use errorComponent?
- Do you see the OAuth error in the network traffic?

[2020-10-07 22:31] m-lehti commented on #706
@aarongranick-okta Thanks for taking a look.

To clarify from the points you've made:

- We've removed the entire node_modules folder including the folder structure mentioned `node_modules/@okta/okta-react/node_modules/@okta/okta-auth-js` and after running npm install the version of `okta-auth-js` inside of `node_modules/@okta/okta-react/node_modules/@okta/okta-auth-js ` is 3.2.5
- We're still exp

[2020-10-07 23:08] aarongranick-okta commented on #706
@m-lehti Are you including the okta signin widget in your app or are you redirecting to Okta for signin?

[2020-10-07 23:14] m-lehti commented on #706
@aarongranick-okta We are redirecting to Okta for signin with the `<Security>` component provided by okta-react.

[2020-10-07 23:30] CristianoYL commented on #926
@swiftone Thanks for your quick response. I can reproduce the error using the minimal setup as in the tutorial, and `errorComponent` seems to be irrelevant to this issue (explained later).

I took a look at the source code and noticed that #848 reverts your changes in #738, which was meant to maintain the error in `authState`.

When I log `authState` to console in the **LoginCallback** component,

[2020-10-07 23:31] aarongranick-okta commented on #706
@m-lehti The data is set here: https://github.com/okta/okta-auth-js/blob/3.2/packages/okta-auth-js/lib/token.js#L632
There should be an item named `okta-oauth-redirect-params` in session storage written right before the redirect. https://github.com/okta/okta-auth-js/blob/3.2/packages/okta-auth-js/lib/token.js#L658

I know it is difficult to debug within an emulator, but it would be helpful to know

[2020-10-08 19:23] polklabs opened #927 "Error logging in with IE11 after upgrading from Angular 8 to Angular 10"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

When logging in with the okta-signin-widget in IE11 the following error occures
`AuthSdkError: Could not load PKCE codeVerifier from sto

[2020-10-08 20:07] swiftone commented on #927
@polklabs - Thanks for the report.  While we investigate, please check this comment from a similar issue to see if it is related: https://github.com/okta/okta-oidc-js/issues/706#issuecomment-705246425

[2020-10-08 20:29] swiftone commented on #927
Internal ref: OKTA-336180

[2020-10-08 22:01] aarongranick-okta commented on #927
@polklabs We recommend avoiding logic based on the sessionToken. The widget should either redirect to Okta then to your callback handler, or retrieve tokens directly. This is an example of receiving tokens using the widget without a redirect: https://github.com/okta/samples-js-react/pull/137/commits/c841d6b026a5535a0965a89ab9542b347f14f447#diff-7961237a7da3d48dc2505ec2526496d9R49 Note that current

[2020-10-08 23:53] m-lehti commented on #706
@aarongranick-okta , I've taken a look at the lines you've tagged and noted after removing node_modules and running `npm install` that okta-react no longer has a nested install of `okta-auth-js` in `okta-react/node_modules/@okta`, but instead does have an install of `configuration-validation`. okta-react lists okta-auth-js@^3.2.3 in package-lock.json as an item in requires but not in dependencies.

[2020-10-09 01:31] lee-bennie commented on #887
I'm also having this issue. At 3.0.8, `isPending` is `true` after having logged out, and stays `true`.  Downgrading to `3.0.0` produces expected results, where `isPending` is `true` until `isAuthenticated` is `false`.

[2020-10-09 15:23] shuowu commented on #807
@Narasinha @arch10 @jdnichollsc
Looks like [PermissionsAndroid API](https://reactnative.dev/docs/permissionsandroid) need to be set up to work with Android M's new permissions model.

Reference: https://reactnative.dev/docs/geolocation.html#android

[2020-10-09 15:55] polklabs commented on #927
@aarongranick-okta Using getWithoutPrompt when an active session works great.
I also removed 'pkce' and 'display' from the authParams which allow me to handle login on the login page without dealing with the callback route.

I had set `tokenManager.storage = "cookie"` because in a previous version it didn't seem to be storing the tokens correctly in IE

Now there is an issue with logging out of th

[2020-10-09 16:52] #858 closed

[2020-10-09 16:57] swiftone commented on #887
@sero323 & @lee-bennie: We do not have a solution at this time, but the team is reviewing priorities today and I'll see if we can get this bumped up.

Meanwhile, can you clarify if this is happening every time on logout, most times, or occasionally?  (original report was "most of the time it works")

Also, can you detail what steps your app takes on logout to see if anything is different from the

[2020-10-09 18:49] lee-bennie commented on #887
In my case I'm really just treating "after logout" as a blank slate, so if my issue doesn't belong here, let me know.  But I've narrowed the change down to v3.0.4.

So at <= 3.0.3, when with when I look at the state of Security, I can see:
`{ _authState: { isAuthenticated: false, idToken: undefined, accessToken: undefined } }`

and then at >= 3.0.4:

`{ _authState: { isAuthenticated: false, idToke

[2020-10-09 21:25] ilgiznurgaliev commented on #863
Hi, @aarongranick-okta. Could you please advise how this can be fixed in angular application. I'm getting the same error when trying to get accessToken.
Part of my `app.module.ts`:
[code]
Part of my `app.component.ts`:
[code]
I have now any other components and routes, everything is within app (root path).
The error from chrome console:
`Error: Uncaught (in promise): AuthSdkError: The app should n

[2020-10-12 16:44] aarongranick-okta commented on #863
@ilgiznurgaliev a few questions which will help us solve this issue:
- Does this error occur while performing login callback on the callback route? Or does it occur on other routes, at other times?
- Are you using hash-based routing?
- Does your app require use of the "code" query parameter?

[2020-10-12 16:50] aarongranick-okta commented on #863
@ilgiznurgaliev Reading your question closely I see you say that "everything is within app (root path)". So the problem is probably calling `isAuthenticated` while processing the callback.  If doing redirect, we recommend having a dedicated route for callback. Solutions for this problem:
- Use routing and have dedicated route for the login callback. The logic on this route should call `handleAuthe

[2020-10-13 22:07] aarongranick-okta commented on #863
Closing this issue. `okta-react` has now moved here: https://github.com/okta/okta-react If anyone is having this issue, please create a new issue there.

[2020-10-13 22:07] #863 closed

[2020-10-15 11:03] jespersoderlund opened #930 "okta-oidc-js error in documentation on how to work with Proxies"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [x] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
The documentation specifies a way to get the module to work with HTTP-proxies that is not supported (any longer) by the dependency being

[2020-10-15 12:44] jespersoderlund commented on #685
I tried the solution from @trickreich but I could not get it to work, it doesn't seem to pickup the default HTTP options that are being set so the callouts from the OIDC middleware are not going through the proxy.

I added the debug-hooks as suggested in https://github.com/panva/node-openid-client/blob/master/docs/README.md#customizing-http-requests but they do not get triggered, so I suspect that

[2020-10-15 13:02] jraadt commented on #227
I appreciate your hard work on these libraries. I saw there was a 2.2.1 release and I just wanted to check in and see if there's a status update for when 3.0 will be available. Thanks!

[2020-10-15 14:38] shuowu commented on #227
@jraadt Thanks for waiting on it!

Some updates here:
* changes for `okta-auth-js` (v4.1) are mostly ready, we are still working on some testing/samples update work to make sure it's stable.
* after the release of `okta-auth-js@4.1`, we will integrate `okta-angular` with the new version of `okta-auth-js` and release it. Here is the PR to track the progress: https://github.com/okta/okta-angular/pul

[2020-10-15 14:47] shuowu commented on #930
@jespersoderlund Thanks for reporting the issue! Looks like you have found the related issue (#685).

Internal ref: OKTA-282367

[2020-10-15 15:44] jespersoderlund commented on #685
I'll add my findings after some troubleshooting where I got this working. It was a case of the code showed by @trickreich does work, but I added the 'openid-client' module as a dependency to the application, but what was being used by the ExpressOIDC middleware was it's own nested dependency. Eliminating that problem fixed the issue.

[2020-10-15 16:10] shuowu commented on #685
@jespersoderlund There are some examples from `openid-client` doc that may help. https://github.com/panva/node-openid-client/blob/master/docs/README.md#customizing-individual-http-requests

Meanwhile, we are also investigating a stable solution for the issue.

[2020-10-15 16:21] alsoicode commented on #706
I have exactly the same issue using:

@okta/okta-angular: 2.2.1
@okta/okta-signin-widget: 4.5.1

in Angular 10.1.3

I've tried removing and re-installing node_modules and also tried implementing my own component to handle the redirect, but I still get the same error.

[2020-10-15 16:25] aarongranick-okta commented on #706
@m-lehti @alsoicode We are aware of an issue affecting iOS 12 and are working on a solution. Can you confirm that the error you are seeing is happening only on iOS 12?

[2020-10-15 16:29] alsoicode commented on #706
This error is happening on OS X. I'm using Big Sur Beta 11.0 and Chrome 6.0.4240.80, but other browsers are exhibiting the same behavior.

[2020-10-15 16:34] aarongranick-okta commented on #706
@alsoicode When a login redirect is handled (by `handleAuthentication()` in okta-angular), the cookie will be removed. So one possible source of this error is multiple calls to `handleAuthentication()`. Since you are on a desktop OS, perhaps you can set a debug breakpoint inside `handleAuthentication` to see if it is being called more than once on the login callback route.  Adding the `source-map-

[2020-10-15 16:42] alsoicode commented on #706
@aarongranick-okta Hmm. I'm using the `OktaCallbackComponent` to handle the redirect. It was working fine yesterday, and today it isn't. I've since switched back to using the Okta-provided component vs my custom component, but nothing seems to help this problem.

[2020-10-15 16:59] alsoicode commented on #706
@aarongranick-okta OK, I think I've isolated the issue on my side to a race condition when supplying the Okta config via a service.

[2020-10-15 17:07] m-lehti commented on #706
@aarongranick-okta, to confirm your question our team is only experiencing the issue on iPadOS 12.4 and iOS 12.1: on desktop as well as newer mobile devices the error isn't seen and the app functions as expected.

[2020-10-15 17:22] alsoicode commented on #706
@aarongranick-okta Problem solved. It was due to a race condition while retrieving the Okta config that I've fixed. Thanks for the help.

[2020-10-15 17:23] aarongranick-okta commented on #706
@alsoicode Great! Glad you were able to fix it!

[2020-10-15 17:27] jraadt commented on #227
@shuowu Thank you so much for the update! I really appreciate the communication you all have with the community. It helps greatly.

There looks to be a lot of good stuff in `okta-auth-js` 4.1 so I'm excited for that. I noticed the new `okta-angular` repo and was confused at first, but that makes sense now so thanks for clearing that up as well.

I look forward to the (hopefully) soon release of ok

[2020-10-15 17:58] shuowu commented on #930
Doc has been updated in #931

[2020-10-15 17:58] #930 closed

[2020-10-19 18:51] entimaniac commented on #809
@joseph-flinn I never got to try out your solution when you first posted it. I only just now got back to trying to re-design this authentication problem (too many other things to get done before trying to fix something that isn't broke). Your solution seems to work very well for my needs and I thank you very much for sharing it.

[2020-10-19 20:02] arthyn commented on #898
Hey @swiftone can you maybe expand upon what the implications are of doing the bypass?

[2020-10-19 22:44] aarongranick-okta commented on #898
@arthyn We have two samples for `okta-react` available here: https://github.com/okta/samples-js-react

One sample, `okta-hosted` shows how to redirect to Okta for the signin flow. The other sample, `custom-login` shows how to provide the signin flow within your own application using the Okta signin widget: https://github.com/okta/okta-signin-widget

The widget can be added to your application eith

[2020-10-21 09:28] adammo94 opened #932 "Showing component only for authenticated user, but for every path, without rerendering each time path changes."
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [X] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [X] Other (Describe below)

## Current behavior

So currently when I enter any unsecured route it reroutes to /login, I know this is happening due to SecureRoute path="/" with ScreensMa

[2020-10-21 18:32] aarongranick-okta commented on #932
@adammo94 Try using the `render` attribute on the route instead of `component`, the behavior is described here: https://reactrouter.com/web/api/Route

[2020-10-21 19:00] adammo94 commented on #932
Ok, but still I do not know how to make <ScreensMain/> component to show for all paths when logged in, without rerouting to "/login" (onAuthRequired does this) when not logged in.

[2020-10-21 19:17] aarongranick-okta commented on #932
@adammo94 OK, I think I understand. You would like to have some UI that shows on all secured routes, but does not show on unsecured routes. The way it is defined here will cause problems because the component will also render on unsecured routes. This will probably break the callback route, which **must be** unsecured.

In this case, I think it would be better to render the header UI based on the

[2020-10-21 19:38] adammo94 commented on #932
I tried code below (ScreensMain already checks for authState) and then two bad things happen:
1. It reroutes me to login on every path
2. It won't trigger onAuthRequired, so my custom login page is being skipped and it goes straight to okta
[code]

[2020-10-21 19:43] aarongranick-okta commented on #932
@adammo94 Several routes, including "/" have plain attribute `exact`. I think it needs to be `exact={true}`. Also I do not think you want all your routes as children of `<ScreensMain` but as siblings:

[code]

[2020-10-22 05:54] Fahmi-PHTN commented on #922
My react app also facing the same issue. I was using okta-react 3.0.2 & okta-auth-js 3.1.4.
I tried to update okta-react to 3.0.6 and okta-auth-js to 3.2.5. Now it's just loading and not redirecting to my react app.

@kellengreen does your app work after reinstalling node modules?

[2020-10-22 18:47] pbollaram commented on #724
i have downloaded latest @okta-react v3.0.8 and i still not able to access routing props in my component.
code that i am using is below:
**<SecureRoute path="/notifications" component={Notifications} />**
and in my component i am just printing console.log(props) which is giving me output of empty object {}.

tried with withRouter as suggested by someone on above conversion log and i am still facin

[2020-10-22 19:42] pbollaram opened #933 "SecureRoute is not passing Router props to my component"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
i have downloaded latest @okta-react v3.0.8 and i still not able to access routing props in my component.
code that i am using is below:

[2020-10-22 20:08] aarongranick-okta commented on #933
@pbollaram I tried to reproduce this issue using the `okta-hosted-login` sample here: https://github.com/okta/samples-js-react/tree/master/okta-hosted-login

I modified the "Profile" component to log the props that it receives:

https://github.com/okta/samples-js-react/compare/ag-repro-gh-933?expand=1

I did see the router props logged out as expected:

<img width="667" alt="Screen Shot 2020-10-22

[2020-10-22 20:28] #933 closed

[2020-10-22 20:28] pbollaram commented on #933
Oh Yes. @aarongranick-okta . i almost forgot that and looking for router props in completely wrong place. Thanks for correcting me. Closing the issue.

[2020-10-23 18:18] MikeSpencer42 commented on #898
We are using the okta-vue implementation and are seeing the same issue in MS Edge v44. The issue appears to be intermittent however. I tried porting the code from the pull request posted by @swiftone but that resulted in an error stating "Unable to get user profile. Please log out and try again." Are there also setting changes with the Okta admin console that go along with these code changes?

[2020-10-24 00:59] faizhasim opened #934 "security vulnerabilities from lodash"
## I'm submitting this issue for the package(s):

- [x] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

we run security scan for all dependencies and we found out that jwt-verifier is using lodash which contains multiple high level vulnerab

[2020-10-26 17:53] swiftone commented on #934
@faizhasim - Thanks for the detailed report, we'll dig into it.

[2020-10-27 12:59] mfickett commented on #468
It looks like there hasn't been action for > 1y, is this still under consideration?

[2020-10-27 15:21] goatandsheep commented on #468
@mfickett the checkboxes in the ticket description acknowledge that okta-vue has the desired feature. However, the other 5 packages seem to not. Someone should check on their behalf

[2020-10-27 16:37] mfickett commented on #468
@goatandsheep Thanks for the fast response! I'm confused though.

The checkboxes at the top are under a "I'm submitting this issue for the package(s):" heading, I thought that just meant this FR applied to `okta-vue`?

The `authRedirectGuard` implementation I copied from the `okta-vue` repository in my comment above doesn't seem to accept any parameters or look for anything except `meta.requiresAu

[2020-10-28 08:33] mayankgupta0510 opened #936 "done is not a function in oidcUtils.bootstrapPassportStrategy"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [X] oidc-middleware
- [ ] okta-react
- [ ] okta-react-native

## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

Currently I am trying to use oidc-middleware library (version -> 4.0.1), and after configuring the ExpressOIDC i.e.

const oidc = new Ex

[2020-10-28 17:12] swiftone commented on #936
Internal ref: OKTA-341568

[2020-10-29 04:04] mayankgupta0510 commented on #936
Sorry i think , i didnt explain the problem properly, so i using oidc-middleware -> version 4.0.1 and my code snippet is

const oidc = new ExpressOIDC({
		issuer: ias_serv.credentials.url,
		client_id: ias_serv.credentials.clientId,
		client_secret: ias_serv.credentials.Secret,
		appBaseUrl: domainURL,
		scope: "openid",
		loginRedirectUri: domainURL + "/login/callback",
		response_type: "code",

[2020-10-29 07:28] mayankgupta0510 commented on #936
i believe there is already PR raised for this issue https://github.com/okta/okta-oidc-js/pull/372,
to update oidcUtil to allow a callback without userinfo
can you please confirm whether this fix is valid or not ?

[2020-10-30 19:18] robertjd commented on #936
HI @mayankgupta0510 , we have this on our board to look at next week, including reviewing the PR above.  Are you blocked while we investigate or have you been able to workaround by using the code in the PR?  Thanks!

[2020-10-31 03:07] mayankgupta0510 commented on #936
Hi Robert,
Actually I am totally block with this issue, I am able to use the above PR code but I cannot use that for my production code.
Please can you take up this on priority, we have our Dev close on 4th November.

Thanks,
Mayank

[2020-11-03 19:00] mig82 commented on #706
I'm facing this exact same error `name: "AuthSdkError", message: "Unable to retrieve OAuth redirect params cookie"` with the plain Okta SignIn widget version 4.4.4 from the CDN. This is not an Angular app.
Here's my code. https://quantum-demos1.s3.eu-central-1.amazonaws.com/okta/glitch.me-app.html
I'm facing this problem on Chrome 60.0.3112.113, Firefox 81.0.2 and Safari 12.1.2
Any clue what I mig

[2020-11-03 20:35] shuowu commented on #706
@mig82 can you try the latest version (5.0) and use `showSignInToGetTokens ` to retrieve tokens without a redirect.

[code]

[2020-11-04 10:42] mig82 commented on #706
Thank you for the assistance, @shuowu .
After moving up to 5.0.0 as you suggest I get this new error in the console.
[code]
Looking at the response headers of the `/authorize` call I found this:
[code]
and this (I've tried to prettify it for ease of reading):
[code]

Notice the `report-to` directive at the bottom. I'm not too familiar with the syntax for these headers. Do you see anything out of t

[2020-11-04 14:45] shuowu commented on #706
@mig82 Can you update the code in https://quantum-demos1.s3.eu-central-1.amazonaws.com/okta/glitch.me-app.html and I'll try if I can reproduce the issue.

[2020-11-04 14:51] kellengreen commented on #922
Yes my app is working correctly with 3.2.5.

So far, I haven't experienced the issue since. I'm going to give it a few more weeks in the wild before I close the door on this ticket.

[2020-11-09 20:34] mraible commented on #857
These warnings seem to disappear in Angular 11. I used `npm i -g @angular/cli@next` and it installed Angular version `~11.0.0-rc.2`.

Output when running `npm start` after installing the Oka Angular SDK:

[code]

[2020-11-09 20:34] #857 closed

[2020-11-11 04:08] mayankgupta0510 commented on #936
Hello Team, Robert,

any updates on this please?

[2020-11-11 10:57] hemantha87 commented on #156
I too facing the same issue, i need to block the lazy loaded modules as canLoad is not available in OktaAuthGuard Should we have to override the method in OktaAuthGuard or should we need to create the class with canLoad ?

[2020-11-11 15:13] Naught0 opened #943 "react-router Link to a SecureRoute yields "OAuth flow response state doesn't match request state""
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] okta-angular
- [ ] oidc-middleware
- [x] okta-react
- [ ] okta-react-native

## I'm submitting a:
- [ ] Feature request
- [x] Other (Describe below)

## Current behavior
`<Link>`ing to a `<SecureRoute>` fails after the Okta login is triggered with error:
```AuthSdkError: OAuth flow response state doesn't match request state

[2020-11-11 20:05] aarongranick-okta commented on #936
@mayankgupta0510 I am reviewing the code changes. So far they look good and we should be able to get them integrated. If I understand the issue properly, it is that your IDP does not support the "profile" scope which would normally provide the userinfo? And without the userinfo object, the number of parameters is changed, leading to this error.

[2020-11-12 08:02] mayankgupta0510 commented on #936
"it is that your IDP does not support the "profile" scope which would normally provide the userinfo? And without the userinfo object, the number of parameters is changed, leading to this error."

Mayank >> Yes that's exactly the problem.
could you please let me know in which release version or beta version this fix will be available since we are waiting for this fix for our release.

[2020-11-12 08:41] mig82 commented on #706
@shuowu I got it to work using 5.0.0 and `showSignInToGetTokens`.

Seems a number of things were wrong. First, my Okta app was configured as a **Web** app (with `client_id` and `client_secret`) and then attempting to log in with the `client_id` only. Thing is I started testing Okta with a server-side web application, and then moved to attempting to use the SingIn widget in an SPA.

I had to create

[2020-11-12 18:57] lizonpatryk commented on #943
I have run into the same issue, however previous version `3.0.8` seems to be working fine

[2020-11-12 19:15] aarongranick-okta commented on #943
@Naught0 Can you confirm whether this issue also appears when using version 3.0.8?

Also, we have made some fixes related to this issue with the auth-js library which okta-react depends on. To make sure you have these updates, wipe your node_modules and any lock files and do a fresh install.

[2020-11-12 19:22] aarongranick-okta commented on #706
@mig82 Thank you for the valuable feedback! We will definitely take this in consideration as we work to improve the developer experience with the signin widget and our other SDKs.

[2020-11-12 20:23] denysoblohin-okta commented on #489
Current documentation and examples for `jwt-verifier` and `okta-react` are consistent with `issuer`. It contains `/ouath2/default`.

mraible's [comment](https://github.com/okta/okta-oidc-js/issues/489#issuecomment-565286184) is correct:

Feel free to reopen if you still find more inconsistencies with issuer

[2020-11-12 20:23] #489 closed

[2020-11-12 20:35] Naught0 commented on #943
@aarongranick-okta I've just downgraded to `3.0.8` and everything is working just as expected now! Is there anything I can do to help you identify the cause?

[2020-11-12 20:38] aarongranick-okta commented on #943
@Naught0 We have identified a flaw in 3.0.9 which causes a flood of requests to `/authorize` when navigating to a secure route. My guess is this is also the cause of the mismatched response state. If you see in your network tab more than one request to `/authorize` then this is probably the source of the issue. We are working on a fix and will release it soon as 3.0.10

[2020-11-12 20:39] #943 closed

[2020-11-13 05:41] johncrisostomo commented on #271
I am experiencing this issue both with this library and with `flask-oidc`, not really sure what is going on but is probably what @alihaghani explained. It works well on the dev Okta, but doesn't work on our corporate Okta instance.

[2020-11-13 18:43] andrewpaulinoev commented on #898
Any updates to this? it seems like using the hosted version of Okta with React produces this error a lot. I'd rather not have to recreate the widget in my application to use the SSO Functionality.

[2020-11-13 19:39] aarongranick-okta commented on #898
@andrewpaulinoev We have made several updates to address this issue. If you have the latest version installed (plus dependencies, it may be necessary to remove your node_modules and any ".lock" files and reinstall), the issue should corrected (or compensated for) in most cases. The most common cause of this error is some form of concurrency, basically a race condition. With this version of the SDK

[2020-11-16 07:59] yashwanth-yenugu opened #944 "/implicit/callback route not working for any version of @okta/okta-angular"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ 1] okta-angular
- [ ] oidc-middleware

## I'm submitting a:

- [1 ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

We are using @okta/okta-angular for our login page and to login the user which goes pretty smoothly but once the callback route gets called we get a blank page it does not red

[2020-11-16 08:04] sksaifuddin commented on #944
I am also the facing the same issue, can anyone help please..

[2020-11-16 13:07] oleksandrpravosudko-okta commented on #944
Thanks for reporting this issue, @yashwanth-yenugu. I will investigate and get back to you once I have more details on a potential root cause.

[2020-11-16 19:56] jraadt commented on #227
With the new okta-angular 3.0, okta-auth-js is exposed now and working properly. This issue can probably be closed.

[2020-11-16 19:58] jraadt commented on #424
The new OktaAuthGuard has canActivateChild. Thanks!

[2020-11-16 19:58] #424 closed

[2020-11-16 19:59] jraadt commented on #423
With the new okta-angular 3.0 the app doesn't always get to a stable state, but now that you can define your registration strategy for Angular service workers it's less important that the app becomes stable if you needed it just for service workers.

[2020-11-17 17:32] oleksandrpravosudko-okta commented on #944
@yashwanth-yenugu, I was not able to reproduce the behaviour you described in non-localhost environment
a few clarifying questions to help with further investigation:
  * are you able to share the details of your OKTA_CONFIG(w/ clientId and org subdomain scratched) and the login method + parameters you are using(e.g. `signInWithRedirect`)?
  * are there any error messages available in the non-loca

[2020-11-19 06:31] yashwanth-yenugu commented on #944
Thank you for responding .I have attached the file which contains all the details we are using to integrate with okta
[agular-okat.txt](https://github.com/okta/okta-oidc-js/files/5564813/agular-okat.txt)

there are no error messages in the developer tools. I can see the cookies as well.

[2020-11-19 13:51] oleksandrpravosudko-okta commented on #944
thanks for following up, @yashwanth-yenugu
my next questions and suggestions:
* is accessToken still `undefined` when opening a new tab/doing page reload on a protected path(`/providerMALogin`)?
* are you making sure `redirectUri` origin is getting set to a proper value? (by either using environment config property or doing a shortcut like `window.location.origin + '/user-manager/callback'`)
* did

[2020-11-23 06:09] mayankgupta0510 commented on #936
Hello,
can you please let me know when will you release this fix?

[2020-11-23 06:17] oleksandrpravosudko-okta commented on #936
hello @mayankgupta0510 - I am getting https://github.com/okta/okta-oidc-js/pull/372 ready to merge - it should be good to go in the next few days
the release date have not been set yet but it is likely to happen soon

[2020-12-01 07:04] oleksandrpravosudko-okta commented on #936
@mayankgupta0510 - FYI, fix has been released in v4.0.2

[2020-12-14 12:07] shehrozsheikh commented on #460
I am still getting this issue on React, but I figured out that it's because I was using the **Incognito Mode** shifting to the normal mode fixed this issue for me.

[2020-12-14 23:42] shuowu commented on #894
The rate limit feature has been released in @okta/okta-auth-js@4.1. Close the issue.

[2020-12-14 23:42] #894 closed

[2020-12-21 21:49] shellscape commented on #393
@bretterer how's that roadmap looking now? `okta-auth-js` got types in.

[2020-12-21 21:57] swiftone commented on #393
TS support has moved from "something we are considering" to "something we are committed to doing".

`okta-auth-js`, `okta-react`, `okta-angular`, and `okta-vue` (PR under review) are converted to some real level of TS support.  The line before `jwt-verifier` is definitely shorter, but I don't have a specific timeline yet for `jwt-verifier` getting the conversion.

[2020-12-21 23:21] twaite commented on #797
Don't know if this will help anyone else but I was getting this error when I was not fully qualifying the issuer when instantiating `OktaJwtVerifier`. I had:

[code]

Switched this to:

[code]

[2020-12-21 23:43] jasonhale opened #960 "ExpressOIDC configuration - timeout config seems ignored"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] oidc-middleware

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
Intermittently, when logging in with the Okta hosted login page, the call to the retrieve the token via the `/v1/token` endpoint through the middleware will throw a timeout error on our server with

[2020-12-23 00:43] aarongranick-okta commented on #960
@jasonhale Thank you for the submission. I'm sorry the option isn't working as advertised. We will investigate to see if we can reproduce and then report back here. internal ref: OKTA-355643

[2020-12-23 18:13] mfickett commented on #861
I ran into this too, and fixed it by adding to trusted origins. I was confused because I'd listed my domain for my app (as both callback and logout URLs), but hadn't updated the trusted origin.

[2020-12-23 20:44] aarongranick-okta commented on #960
@jasonhale I was able to reproduce the issue and am working on a fix. internal ref: OKTA-355643

[2020-12-24 17:55] swiftone commented on #393
Internal ref: OKTA-279270

[2020-12-24 18:16] ilgiznurgaliev commented on #352
Hi Everyone.
Any updates on this? **[okta__okta-vue](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/okta__okta-vue)** seems outdated and type definitions there no longer match functions and components in latest version of **[okta-vue](https://github.com/okta/okta-vue)**. **handleCallback** is no replaced by **LoginCallback** and it is missing in types.
Getting the following e

[2020-12-24 18:25] swiftone commented on #352
Okta-provided TypeScript for okta-vue is a WIP, see https://github.com/okta/okta-vue/pull/39

[2020-12-24 18:34] ilgiznurgaliev commented on #352
thank you @swiftone, looking forward it to be merged

[2021-01-05 00:59] aarongranick-okta commented on #960
@jasonhale We believe we have fixed this issue. Can you install version 4.0.3 and confirm it resolves the problem you were seeing?

[2021-01-12 20:46] sam1463 commented on #807
I believe this is occurring due to the following code in `android/src/main/java/com/oktareactnative/OktaSdkBridgeModule.java`:

[code]

The method doesn't make sure `webClient` exists before calling it, resulting in this null pointer exception when it doesn't exist. See the sanity checking found in the method right above it in the same file:

[code]

I've updated that code locally in my node_modul

[2021-01-12 21:49] #807 closed

[2021-01-13 18:46] sero323 commented on #887
Any progress on this issue?

[2021-01-13 18:50] swiftone commented on #887
@sero323 - This should be corrected in okta-react 3.0.9+, see https://github.com/okta/okta-react/releases/tag/okta-react-3.0.9.

Let us know if you continue to see this problem.

[2021-01-13 19:30] lee-bennie commented on #887
@sero323 I can confirm that 3.0.9 fixed it for me.

[2021-01-14 17:15] kellengreen commented on #926
I can reproduce in `4.0.1`.

[2021-01-14 22:47] aarongranick-okta commented on #717
We believe this issue has been resolved in current versions of `okta-angular` and `okta-react`

If you are experiencing a similar issue,
`okta-angular`, create an issue here: https://github.com/okta/okta-angular
`okta-react` create an issue here: https://github.com/okta/okta-react

[2021-01-14 22:47] #717 closed

[2021-01-15 19:07] BenjaminWatts commented on #575
I seem to be having this issue on a new react native app. Did it ever get fixed?

[2021-01-15 19:30] aarongranick-okta commented on #926
@kellengreen We are investigating this issue. It may be related to an issue which was recently fixed in `okta-auth-js`. Deleting your `node_modules` and reinstalling *may* fix the issue.  I will work to reproduce the issue. Internal ref: OKTA-361433

[2021-01-15 19:57] aarongranick-okta commented on #926
@kellengreen I think this issue was fixed in `okta-auth-js@4.6.0`. Current versions of `okta-react` allow you to pass your own instance of `OktaAuth`. Upgrading this instance to `4.6.0` should fix the issue you are seeing.

[2021-01-15 20:04] kellengreen commented on #926
We're on `4.6.0` currently.

[2021-01-16 01:44] aarongranick-okta commented on #926
@kellengreen I've been able to reproduce the issue and see the problem. The `LoginCallback` in `okta-react` is only showing errors from the `authState` object, however in this case the error is being thrown from `handleLoginRedirect`, which is called by `LoginCallback`. `LoginCallback` does not catch the error here, as is done in `okta-angular`: https://github.com/okta/okta-angular/blob/master/src

[2021-01-16 09:48] kellengreen commented on #926
Ooh good I'm glad you were able to reproduce.

Thanks, that's what I ended up doing in the interim.

[code]
Sidenote / random thought, it would be nice to be able to customize error result of `<LoginCallback/>`. For example:

[code]

[2021-01-16 19:37] aarongranick-okta commented on #926
@kellengreen It is not well documented but the `LoginCallback` does accept an `errorComponent` prop: https://github.com/okta/okta-react/blob/master/src/LoginCallback.tsx#L23

[2021-01-16 19:48] kellengreen commented on #926
Aah [so it does](https://www.npmjs.com/package/@okta/okta-react#general-components) 👍

[2021-01-19 02:39] #657 closed

[2021-01-19 12:21] dewa1993 commented on #647
If someone is facing this issue on a actual device, switching default browser to chrome worked for me.

[2021-01-19 16:20] aarongranick-okta commented on #706
There were many possible causes of this error and we believe we have fixed / compensated for most cases. If you are still experiencing this issue with current versions of our SDK, please let us know.

[2021-01-19 20:14] #922 closed

[2021-01-19 20:14] kellengreen commented on #922
Confirmed fixed.

[2021-01-20 12:46] gmaragao commented on #460
@shehrozsheikh

Just adding some info here. This is related to third party cookies, which you probably have them disabled when using incognito. If you have third party cookies on any browser/window, it will fail to authenticate.
[More info here](https://support.okta.com/help/s/article/FAQ-How-Blocking-Third-Party-Cookies-Can-Potentially-Impact-Your-Okta-Environment?language=en_US)

[2021-01-25 07:23] daltonfury42 commented on #825
This same issue is there even if you use other providers like Auth0. Here is my approach to solving this.

https://github.com/SimplQ/simplQ-frontend/pull/483

[2021-01-27 00:10] melanopsis opened #970 "Security vulnerability in jwks-rsa's dependency"
## I'm submitting this issue for the package(s):

- [x] jwt-verifier
- [ ] oidc-middleware

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [x] Other (Describe below)

Security vulnerability in axios (https://www.npmjs.com/advisories/1594) which is a dependency of jwks-rsa. Upgrade jwks-rsa to v.1.12.1 or above.

`npm audit` output

![image](https://user-images.githubusercontent.com

[2021-01-27 15:16] shuowu commented on #970
@melanopsis Thanks for the report.

Internal Ref: OKTA-365079

[2021-01-28 12:28] Nawazsherif opened #972 "Server-side request forgery"
## I'm submitting this issue for the package(s):

- jwt-verifier

## I'm submitting a Bug Fix:

Please fix server-side request forgery from your side

[2021-01-28 12:39] oleksandrpravosudko-okta commented on #972
Thanks for reporting this @Nawazsherif.

In case you are referring to [reported transitive dependency](https://github.com/okta/okta-oidc-js/issues/970) vulnerability, its [fix](https://github.com/okta/okta-oidc-js/pull/971) and release are underway.  Please let us know if there is a different source of vulnerability you are aware of.

[2021-01-28 14:32] Nawazsherif commented on #972
This is what I am exactly looking for. Thanks for the quick response.
Expecting the patch soon.

[2021-01-29 12:59] Tomtomgo commented on #265
Is this supposed to work for v4+?

[2021-01-29 13:27] dnikomon commented on #271
I had some issue but in my case the mistake was that I was running `passport.session() `in middleware.ts and `passport.use(STRATEGY)` in different module.

The issue was resolved when I returned passport from the module where I set strategy to my middleware module and initialized that passport.
[code]

So the my passport.use(STRATEGY) didn't know anything about my session because it was initialize

[2021-01-29 13:37] Tomtomgo commented on #321
Same issue here on v4.5.1. Is this going to be fixed in `okta-react`?

[2021-01-29 19:13] shuowu commented on #321
@Tomtomgo Do you mean auth-js v4.5.1?
Also, okta-react has been moved to https://github.com/okta/okta-react, can you create a new issue with repo details there?

[2021-01-30 07:35] oleksandrpravosudko-okta commented on #972
Released in v2.0.1

[2021-01-30 07:35] #972 closed

[2021-02-02 00:05] hirenoble opened #973 "Facing 431 Request Header Fields Too Large error"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [ ] oidc-middleware

## I'm submitting a:

- [ ] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

When the browser cookies payload is large receiving 431 Request Header Fields Too Large error.

## Expected behavior

The @okta/oidc-middleware package should handle the request headers.

## Minim

[2021-02-02 16:03] hellmean commented on #922
we are still experiencing this error with version 4.6.1:
[code]

[2021-02-02 16:04] hellmean commented on #923
we are still experiencing this error with version 4.6.1:
[code]

[2021-02-02 18:27] swiftone commented on #973
@hirenoble - Thanks for the feedback.   For clarity, you're receiving this from the express server on a page you're serving, correct?  Do you have an example cookie payload size (don't need the exact cookies, but a payload size to reproduce the error).

[2021-02-02 18:29] aarongranick-okta commented on #973
internal ref: OKTA-367034

[2021-02-02 18:32] swiftone commented on #973
Note: This may be due to a node fix of this issue: https://nodejs.org/en/blog/vulnerability/november-2018-security-releases/#denial-of-service-with-large-http-headers-cve-2018-12121

The fix sets the max size of headers to be 8kb. (you can see this in `node --help`) If you are exceeding that, you can alter this limit by using the `--max-http-header-size` flag, for example: `--max-http-header-size=

[2021-02-05 09:07] d12santosh commented on #898
was able to resolve this issue by moving logic of storing information in session storage to the level post completion of security route configuration, hope it helps

[2021-02-05 15:53] clearwaterstream commented on #898
@d12santosh can you please provide a rough sample or pseudo code of the solution? I'm having trouble visualizing it. It would be much appreciated.

P.S. I was able to work around it by not using the `core-js/features/string/includes` polyfill. I had to also remove `okta-pkce-storage` values from session storage prior to login.

See sample here:

https://github.com/clearwaterstream/okta-ie11-issue/

[2021-02-10 01:07] geekf commented on #685
@shuowu: I have recently faced this issue too while upgrading to latest version of OIDC middleware. Turns out we were still using version 1.0.0 to avoid dealing with this. I am quite sure there would be other enterprises too doing the same as servers are rarely allowed direct connection to an external domain.

[2021-02-12 16:53] ryansonshine commented on #393
@swiftone are you open to accepting a PR from the community?

[2021-02-12 16:56] ryansonshine commented on #393
@swiftone are you open to accepting a PR from the community on this one?

[2021-02-12 17:01] scott-joe commented on #846
We just ran into this again after someone had to format their machine.

If you run a test in VSCode using the little 'run' button within the test file, it'll follow what preferences you have set for `Jestrunner: Jest Command`. If you don't have `yarn test` set in that field, it'll run your browser tests using `node` and it'll spit out the above error.

<img width="606" alt="Screen Shot 2021-02-12

[2021-02-12 17:04] swiftone commented on #393
@ryansonshine - Of course! I can't promise anything, of course, without first seeing the code, but we welcome and appreciate contributions.   Please make sure to sign our Contributor License Agreement (CLA) found here: https://developer.okta.com/cla/

Thanks for the interest!

[2021-02-12 17:09] swiftone commented on #846
@scott-joe - I have definitely had the experience of having a problem that feels vaguely familiar, googling it, and finding a comment I left for my future self explaining what to do :).

I (and I'm sure others) appreciate that you didn't DenverCoder9 this: https://xkcd.com/979/

[2021-02-15 22:59] ramkarthik77 opened #974 "Creating Multiple OIDC instances in Nodejs('@okta/oidc-middleware')"
## I'm submitting this issue for the package(s):

- [ ] jwt-verifier
- [x] oidc-middleware

## I'm submitting a:

- [ ] Bug report
- [x] Feature request
- [x] Other (Describe below)

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## Extra information about the use case/user story you are trying to implement

## Environment

- Package Version:
-

[2021-02-15 23:17] ramkarthik77 commented on #974
I've implemented authentication for an application using @okta/oidc-middleware in node.js. It is working as expected. Now I got a requirement to add one more application that shares the same client and secret. How to implement 2 apps like abc.com/user-login, bcd.com/user-login in node js using @okta/oidc-middleware

[2021-02-16 07:35] denysoblohin-okta commented on #974
Thank you for the question.  Can you be more specific about your problem?
In Okta Dashboard you can specify multiple redirect URIs in your application settings as well as multiple domains for CORS.

[2021-02-16 17:00] ramkarthik77 commented on #974
I have configured multiple redirect uri's in okta dashboard. The issue that i'm facing here is since i'm using @okta oidc middleware i was trying to create mutliple OIDC instances. Can you share me an example how i can create mutliple oidc instances in nodejs.
Regards
Karthik Guduri.

[2021-02-16 17:50] aarongranick-okta commented on #974
@ramkarthik77 There is some discussion and a PR attached to this issue: https://github.com/okta/okta-oidc-js/issues/686
Hopefully this may be helpful.

[2021-02-16 20:43] ramkarthik77 commented on #974
Thanks for your reply @aarongranick-okta. The PR really helped me a lot. I have one doubt here do I need to run my application on 2 different ports. one app1 and another app2 like below

oidcMiddleware1.on('ready', () => {
    app.listen(5456, () => console.log('app started1'));
});
oidcMiddleware2.on('ready', () => {
    app.listen(5056, () => console.log('app started2'));
});

[2021-02-16 20:43] #974 closed

[2021-02-16 20:53] aarongranick-okta commented on #974
@ramkarthik77 `oidc-middleware` is built primarily around two packages: `openid-client` and `passport`. I am not sure in this case if a separate Express instance is necessary or not. It may be a feature the original author of the PR wanted, or it may be a workaround to overcome some static/instance variables used within these modules.

The good news is Okta is 100% compatible with OpenId/OAuth 2.0

[2021-02-17 18:56] kpeters-cbsi opened #975 "'Unknown authentication strategy "oidc"' in AWS Lambda context"
## I'm submitting this issue for the package(s):

- oidc-middleware

## I'm submitting a:

- Bug report

## Current behavior

I've deployed the [Lambda sample app](https://github.com/oktadeveloper/okta-nodejs-aws-lambda-example) provided by Okta using Serverless Framework. While I can run the app locally, when I run it in Lambda, I get:

[code]

## Expected behavior

When I access my app, I should

[2021-02-17 19:03] swiftone commented on #975
@kpeters-cbsi - Thanks for the report.  Let me check with the team behind that sample repo and see if this issue is better handled there, and I'll report back.

[2021-02-17 22:07] swiftone commented on #975
@kpeters-cbsi - Unfortunately, I don't have a lot of experience merging oidc-middleware with AWS Lambda (example notwithstanding), but this is what we were able to turn up:

The issue might be the Passport middleware. This might help: https://github.com/jaredhanson/passport/issues/651#issuecomment-744361707 or uploading the node_modules to Lambda: https://stackoverflow.com/questions/34437900/how-t

[2021-02-17 22:26] kpeters-cbsi commented on #975
Serverless will take care of the NPM modules. So that I can test this hypothesis, what URL should I try to access? The `issuer` URL (i.e. `https://dev-69099605.okta.com/oauth2/default`)?

[2021-02-18 01:58] kpeters-cbsi commented on #975
I can get out with my Lambda, but the issuer URL (` https://dev-69099605.okta.com/oauth2/default`) produces a 404.

[2021-02-18 17:38] swiftone commented on #975
Yes, the issuer URL is the base for various urls that are actually hit.  You can see the url use for the authorize call here: https://github.com/okta/okta-oidc-js/blob/master/packages/oidc-middleware/src/connectUtil.js#L76

There are a number of urls that are hit, so the above isn't the exhaustive list, but that should establish if the Passport fix will help you.

[2021-02-18 17:51] kpeters-cbsi commented on #975
I was able to hit `'https://dev-69099605.okta.com/app/UserHome/oauth2/default/v1/authorize` from my Lambda. I don't think it's Passport.

[2021-02-19 00:00] swiftone commented on #975
Unfortunately that's the most information my team has at the moment - your issue (working from inside AWS Lambda) is outside the scope of this SDK itself.

[2021-02-19 15:23] kpeters-cbsi commented on #975
Presumably someone at Okta got it working, as your organization published
an example on your official developer blog. Maybe talk to the author,
Braden Kelley? https://github.com/redbmk

On Thu, Feb 18, 2021 at 6:01 PM Brett Ritter <notifications@github.com>
wrote:

[2021-02-27 18:00] ryansonshine commented on #393
Type definitions being submitted to DefinitelyTyped in the interim: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51418

[2021-03-01 19:20] swiftone commented on #745
Support for base href was added/fixed in okta-angular 3.0.1 - https://github.com/okta/okta-angular/releases/tag/okta-angular-3.0.1

Please let us know if this does not address your issue.

[2021-03-01 19:20] #745 closed

[2021-03-03 22:18] mraible commented on #66
TypeScript support was added to Okta React in its v4.0 release. https://github.com/oktadeveloper/schematics/releases/tag/v3.1.0

[2021-03-03 22:18] #66 closed

[2021-03-03 22:20] mraible commented on #352
TypeScript support was added to Okta Vue in Okta Vue v3.0. https://github.com/oktadeveloper/schematics/releases/tag/v3.2.0

[2021-03-03 22:20] #352 closed

[2021-03-03 22:33] swiftone commented on #227
Closing out this issue as resolved, but touching on a few points that were raised in it's long and twisty history for anyone that finds this issue and is looking for resolution:

- the `okta-angular` repo has moved out of this collection and to a standalone repo here: https://github.com/okta/okta-angular
- the AuthJS (`okta-auth-js`) is the OktaAuthService as of version 3.x ( https://github.com/ok

[2021-03-03 22:33] #227 closed

[2021-03-03 22:37] swiftone commented on #393
Just touching on this PR as the team discussed it during sprint planning and are looking to get it attention.

[2021-03-03 22:48] shellscape commented on #393
I was hesitant to post this, and it should not be misread as a denigration to those who give their time freely - It's a bit bananas that open source contributions are tied to corporate sprint planning within the owning company. Terrible way to run open source projects, doesn't reflect well on Okta's understanding of open source.

[2021-03-16 23:17] Kaschman commented on #809
After upgrading to 4.x and 5.x the `emitAuthState` solution no longer works (the function was removed in the update).

Any guidance on how to update the `customAuthHandler` to mock a signed in state for local development?

[2021-03-23 21:35] konampruthvirajkumar commented on #628
I am getting Unable to parse response from server error when debug in on in both chrome dev tools and react native debugger.

Would you mind please share the configuration

[2021-03-24 19:43] #393 closed

[2021-03-25 21:24] bmounteer commented on #475
Almost a year later, SSR support would be really great. We had to hack together a solution with Socialite on our laravel backend to get okta working.

[2021-03-25 21:28] swiftone commented on #475
@bmounteer - I can't offer any specific deadline, but SSR support is a discussion that has come up more than once and I've certainly been paying attention to the popularity of the requests.  I'll raise it with the team for consideration for priorities.

[2021-03-26 18:26] hamzanaveedmalik commented on #475
Wished it had been addressed. Blocked by this issue to implement Okta integration.

[2021-03-26 21:34] bmounteer commented on #475
@hamzanaveedmalik I havent attempted it, but based on this blog post perhaps you could add it as a nuxt plugin and make sure it only renders client side? https://medium.com/@codebeast_/why-your-third-party-plugin-dont-work-in-nuxt-and-how-to-fix-it-d1a8caadf422

[2021-03-29 03:19] hamzanaveedmalik commented on #475
@bmounteer  I gave it a try but still the error persists.

[2021-04-05 18:10] aarongranick-okta commented on #804
@nickerzb

I believe this (intermittent) issue was related to the "passive" auto renew implemented in previous versions of `okta-auth-js`.

Attempting to renew tokens in the middle of an authentication flow would cause the PKCE metadata to be overwritten.

In version 4.0 we introduced a [new model for auto renew](https://github.com/okta/okta-auth-js/pull/444) and changed the behavior of `tokenMana

[2021-04-05 18:10] #804 closed

[2021-04-07 15:56] aarongranick-okta commented on #926
@CristianoYL @kellengreen We have released a fix for this issue. After upgrading to `@okta/okta-react` [version 5.1.1](https://github.com/okta/okta-react/releases/tag/okta-react-5.1.1) you should see OAuth callback errors caught and displayed in the `LoginCallback` component.

[2021-04-07 18:31] shubhmali commented on #199
Yes setting system's time to automatically update based on your time zone helped.
Thank you.

[2021-04-14 00:03] aarongranick-okta commented on #713
@hawk4031 @brue-chwy We have made several updates to `@okta/okta-auth-js` and `@okta/okta-vue` which should have resolved this issue. I am closing this as a duplicate of https://github.com/okta/okta-vue/issues/15

If you are still having problems with `@okta/okta-vue` please create a new issue here: https://github.com/okta/okta-vue/issues

[2021-04-14 00:03] #713 closed

[2021-04-16 05:53] GowthamRajagopal26 opened #987 "Error while resolving signing key for kid . Unable to verify first certificate"
## I'm submitting this issue for the package(s):

- [x] jwt-verifier
- [ ] oidc-middleware

## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
After my okta authentication I am verifying the token using jwt okta verifier by passing the clientid and the issuer.

I tried pasting the token received from okta in jwt.io and verified the inform

[2021-04-16 09:39] denysoblohin-okta commented on #987
Thanks for submitting this issue.
Internal ref: [OKTA-387834](https://oktainc.atlassian.net/browse/OKTA-387834)

[2021-04-20 18:46] lyin-vir commented on #926
@aarongranick-okta I can confirm the issue is fixed on v5.1.1. Thanks for the update.

I noticed that the documentation is a little lagged behind. For anyone who wants to use the custom error component, here's what I did:

[code]

Then in your App, or wherever you defined your routes, use this `CustomLoginCallback` instead of `LoginCallback`.